[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-session = "*"
flask-bootstrap = "*"
flask-datepicker = "*"
requests = "*"
passlib = "*"
flask-wtf = "*"
wtforms-components = "*"
pytest = "*"
flask-mail = "*"
flask-security = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.7"
