{% extends "layout.html" %}

{% block title %}
    Application Details
{% endblock %}

{% block main %}
    <h1> Application Details</h1>
    <br/>
    <br/>
    <label class="center"> To confirm, these are the details you provided: </label>
    <table class="center"> 
        {% for value in details.values() %}
        <tr class="border-bottom border-right border-left border-top"></tr>
                <th class="border-right border-left border-top border-bottom"> {{ value.label }}</th>
                <td class="border-right border-left border-top border-bottom"> {{ value.data }}</td>
            </tr>
        {% endfor %}

    </table>


    <br/>
    <div class="horizontal_buttons">
        <a href="/add_application" class="button left_button">Add New Application</a>
        <a href="/applications" class="button middle_button">View all the applications you've added.</a>
         <!-- Create a new option to update this interview -->
        <!-- <a href="/interviews" class="button middle_button">Cancel & View your scheduled interviews</a> -->
    </div>



{% endblock %}