{% extends "layout.html" %}

{% block title %}
    Application Details
{% endblock %}

{% block main %}
    <h1> Application Details: </h1>
    <ul> 
        <li> Date of Application: {{ application_details.todays_date }} </li>
        {% if application_details.location == 'N/A' %}
            <li> Location: {{ application_details.location }} </li>
        {% endif %}
        <li> Platform: {{ application_details.platform }} </li>
        <li> Job Role: {{ application_details.job_role }} </li>
        <br/>
        <li> Job Description: {{ application_details.job_description }} </li>
        <br/>
        <li> Job Perks: {{ application_details.job_perks }} </li>
        <br/>
        <li> Employment Type: {{ application_details.employment_type }} </li>
        <br/>
        <li> Key Skills: {{ application_details.tech_stack }} </li>
        <br/>
        <li> Company Name: {{ application_details.company_name }} </li>
        <br/>
        <li> Company Description: {{ application_details.company_description }} </li>
        <br/>
        <li> Job Url: {{ application_details.job_url }} </li>
        <br/>
        <li> User Notes: {{ application_details.user_notes }} </li>
        <br/>
    </ul>

    <div class="horizontal_buttons">
        <a href="/add_job_application" class="button left_button">Add new job application</a>
        <a href="/applications" class="button middle_button">View all job applications</a>
    </div>

{% endblock %}