{% extends "layout.html" %}

{% block title %}
    Applications
{% endblock %}

{% block main %}
<h1> Job Applications </h1>
<hr/>
<h2> Your Application History: </h2>

<!-- <p> Today's date: {{ display_details.todays_date }} </p> -->

<table class="center"> 
    <tr class="border-bottom border-right border-left border-top">
        <th> Date</th>
        <th> Company</th>
        <th> Role</th>
        <th> Platform</th>
        <th> Employment Type</th>
        <th> Key Skills</th>
    </tr>

    {% for key, value in display_details.items() %}
        {% for item in value %}
            <tr class="border-bottom border-right border-left"></tr>
                {% for i in item %}
                    <td class="border-right border-left border-bottom"> {{ i }} </td>
                {% endfor %}
            </tr>
        {% endfor %}
    {% endfor %}




{% endblock %}