{% extends "layout.html" %}

{% block title %}
    Application Details
{% endblock %}

{% block main %}
    <h1> Application Details: </h1>

    {{ add_application_form.csrf_token }}
    {% for field in add_application_form if field.name != "csrf_token" %}
        <p> 
            {% if field.name == "save_application" %}
                {{ field }} 
            {% else %}
                <dt class="wpforms-container-full .wpforms-form .wpforms-title"> {{ field.label }}</dt>
                <dd class="wpforms-container-full .wpforms-form .wpforms-description"> {{ field }} </dd>
            {% endif %}
            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        </p>
    {% endfor %}   

    <div class="horizontal_buttons">
        <a href="/add_job_application" class="button left_button">Add new job application</a>
        <a href="/applications" class="button middle_button">View all job applications</a>
    </div>

{% endblock %}