{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1> Welcome username </h1>
    <br/>
    <br/>
    <!-- <p> Today's date {{ render_info.current_date }} </p> -->

    <h2> Your Applications: </h2>
    <br/>
    <p> Applications today: {{ render_info.applications_today }} </p>

    <div class="horizontal">
        {% if render_info.applications_today == 0 %}
            <li> You have not submitted any applications today.</li>
        {% else %}
            <li class="left_button"> You have made {{ render_info.applications_today }} number of applications today!</li>
        {% endif %}
        <li class="middle_button"> You have made X number of applications this week!</li>
    </div>
    <br/>
    <h3> View Your Applications history:</h3>
    <!-- Drop down to view table-->
    <table class="Table"> 
        <tr> 
            <th> Date</th>
            <th> Job Reference</th>
            <th> Company name</th>
            <th> Job role</th>
            <th> Job platform</th>
            <th> Employment Type</th>
            <th> Interview Stage</th> 
            <th> Received Contact (Y/N)</th>
            <th> Salary</th>
        </tr>

        {% for application in render_info.top_5_applications %}
            <tr class="border-bottom border-right border-left">
                {% for item in application %}
                    <td class="border-right border-left border-bottom"> {{ item }} </td>
                {% endfor %}
            </tr>
        {% endfor %}


    </table>
    <br/>
    <div class="horizontal_buttons">
        <a href="/add_job_application" class="button left_button">Add Application</a>
        <a href="/applications" class="button middle_button">View Application</a>
    </div>
    <br/>

    <h2> Interviews</h2>
    <br/>
    <p> Interviews Today: {{ render_info.interviews_today }} </p>

    <div class="horizontal">
        {% if render_info.interviews_today == 0 %}
            <li class="left_button"> You have no Interviews lined up today.</li>
        {% else %}
            <li class="left_button"> You have {{ render_info.applications_today }} number of Interviews lined up today!</li>
        {% endif %}
        <li class="middle_button"> You have X number of Interviews lined up this week!</li>
    </div>
    <br/>
    
    <h3> Interviews Lined up:</h3>
    <!-- Drop down to view table-->
    <table class="Table"> 
        <tr> 
            <th> Date & Time</th>
            <th> Job Reference</th>
            <th> Company name</th>
            <th> Platform</th>
            <th> Job role</th>
            <th> Status</th>
        </tr>
        <tr> 
            <td> x:x:x</td>
            <td> X PTY LTD </td>
            <td> Zoom </td>
            <td> Jnr Software Dev</td>
            <td> Lined up</td>
        </tr>
    </table>
    <br/>

    <br/>
    <div class="horizontal_buttons">
        <a href="/add_interview" class="button left_button">Add Interview</a>
        <a href="/interview_prep" class="button middle_button">Prep for an Interview</a>
        <!-- <a href="templates/interview_prep.html" class="button right_button">Review your Interview Prep</a> -->
        <a href="/interviews" class="button right_button">View Your Interview History</a>
    </div>
    <br/>
    <br/>

    <h2> Job Offers</h2>
    <br/>
    <p> You have received X job offers! </p>
    <br/>
    <h3> Your Job Offers to date: </h3> 
    <!-- Drop down to view table-->
    <table class="Table"> 
        <tr> 
            <th> Date of Offer</th>
            <th> Company name</th>
            <th> Job role</th>
            <th> Salary Offered</th>
            <th> Accepted</th>
            <th> Expected Start date</th>
        </tr>
        <tr> 
            <td> YY-MM-DD</td>
            <td> X PTY LTD </td>
            <td> Jnr Software Dev </td>
            <td> Value </td>
            <td> Y/N</td>
            <td> YY-MM-DD</td>
        </tr>
    </table>
    <br/>
    <br/>

{% endblock %}