{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1> Welcome username </h1>
    <br/>
    <br/>

    <h2> Your Applications: </h2>
    <br/>

    <div class="horizontal">
        {% if display.applications_today == 0 %}
            <li> You have not submitted any applications today. <a href="/add_job_application">Add an Application.</a></li>
        {% else %}
            <li class="left_button"> You have made {{ display.applications_today }} number of applications today!</li>
        {% endif %}
        <li class="middle_button"> You have made X number of applications this week!</li>
    </div>
    <br/>
    <h3> View Your Applications history:</h3>
    <!-- Drop down to view table-->
    <table class="Table"> 
        <tr> 
            <th> Date</th>
            <th> Job Reference</th>
            <th> Company name</th>
            <th> Job role</th>
            <th> Job platform</th>
            <th> Employment Type</th>
            <th> Interview Stage</th> 
            <th> Received Contact (Y/N)</th>
            <th> Salary</th>
        </tr>

        {% for application in display.top_5_applications %}
            <tr class="border-bottom border-right border-left">
                {% for item in application %}
                    <td class="border-right border-left border-bottom"> {{ item }} </td>
                {% endfor %}
            </tr>
        {% endfor %}


    </table>
    <br/>
    <div class="horizontal_buttons">
        <a href="/add_job_application" class="button left_button">Add Application</a>
        <a href="/applications" class="button middle_button">View Application</a>
    </div>
    <br/>

    <h2> Interviews</h2>
    <br/>

    <div class="horizontal">
        {% if display.interviews_today == 0 %}
            <li class="left_button"> You have no Interviews lined up today. <a href="/add_interview">Add an Interview.</a></li>
        {% else %}
            <li class="left_button"> You have {{ display.interviews_today }} number of Interviews lined up today!</li>
        {% endif %}
        <li class="middle_button"> You have X number of Interviews lined up this week!</li>
    </div>
    <br/>
    
    <h3> Interviews Lined up:</h3>
    <!-- Drop down to view table-->
    <table class="Table"> 
        <tr> 
            <th class="border-bottom border-right border-left border-top"> #</th>
            <th class="border-bottom border-right border-left border-top"> Date & Time</th>
            <th class="border-bottom border-right border-left border-top"> Company name</th>
            <th class="border-bottom border-right border-left border-top"> Job role</th>
            <th class="border-bottom border-right border-left border-top"> Interview Type</th>
            <th class="border-bottom border-right border-left border-top"> Location</th>
            <th class="border-bottom border-right border-left border-top"> Video Medium</th>
            <th class="border-bottom border-right border-left border-top"> Other Medium</th>
            <th class="border-bottom border-right border-left border-top"> Contact No.</th>
            <th class="border-bottom border-right border-left border-top"> Status</th>
            <th class="border-bottom border-right border-left border-top"> Interviewer Names</th>
        </tr>

        {% for key, value in display.items() %}
            {% if key == "top_5_interviews" %}
                {% for id, fields in value.items() %}
                    <tr class="border-bottom border-right border-left">
                        <td class="border-right border-left border-bottom"> {{ id }} </td>
                        {% for name, info in fields.items() %}
                            <td class="border-bottom border-right border-left"> {{ info }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </table>
    <br/>

    <br/>
    <div class="horizontal_buttons">
        <a href="/add_interview" class="button left_button">Add Interview</a>
        <a href="/interview_prep" class="button middle_button">Prep for an Interview</a>
        <!-- <a href="templates/interview_prep.html" class="button right_button">Review your Interview Prep</a> -->
        <a href="/interviews" class="button right_button">View Your Interview History</a>
    </div>
    <br/>
    <br/>

    <h2> Job Offers</h2>
    <br/>
    <p> You have received X job offers! </p>
    <br/>
    <h3> Your Job Offers to date: </h3> 
    <!-- Drop down to view table-->
    <table class="Table"> 
        <tr> 
            <th> Date of Offer</th>
            <th> Company name</th>
            <th> Job role</th>
            <th> Salary Offered</th>
            <th> Accepted</th>
            <th> Expected Start date</th>
        </tr>
        <tr> 
            <td> YY-MM-DD</td>
            <td> X PTY LTD </td>
            <td> Jnr Software Dev </td>
            <td> Value </td>
            <td> Y/N</td>
            <td> YY-MM-DD</td>
        </tr>
    </table>
    <br/>
    <br/>

{% endblock %}