{% extends "layout.html" %}

{% block title %}
    Interview Details
{% endblock %}

{% block main %}
    <h1> Interview Details</h1>
    <br/>
    <br/>
    <label class="center"> To confirm, these are the details you provided: </label>
        {% for field_name in details.items() %}
            {% for value in field_name %}
                <p> {{ value.label}} {{ value.data }} </p> 
            {% endfor %}
        {% endfor %}
    <br/>
    <div class="horizontal_buttons">
        <a href="/add_interview" class="button left_button">Add New Interview</a>
        <a href="/interviews" class="button middle_button">View your scheduled interviews</a>
         <!-- Create a new option to update this interview -->
        <!-- <a href="/interviews" class="button middle_button">Cancel & View your scheduled interviews</a> -->
    </div>



{% endblock %}