{% extends "layout.html" %}

{% block title %}
    Test Add Application
{% endblock %}

{% block main %}
<h1> Test Add application</h1>
<hr/>
<form action="/test_add_application" method="POST"> 
    {{ add_application_form.csrf_token }}
    {% for field in add_application_form if field.name != "csrf_token" %}
        <p> 
            {% if field.name == "save_application" %}
                {{ field }} 
            {% else %}
                <dt> {{ field.label }}</dt>
                <dd> {{ field(title=field.description) }} </dd>
            {% endif %}
            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        </p>
    {% endfor %}
</form>


{% endblock %}