{% extends "layout.html" %}

{% block title %}
    Add Interview
{% endblock %}

{% block main %}
    <h1> Add Interview For {{ fields.company_name }} </h1>
    <br/>

    {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
            <div class="flash alert alert-danger border text-center">{{ message }}</div>
        {% endfor %}
    {% endif %}
    
    <form action='/applications/{{ fields.application_id }}/add_interview' method="POST"> 
        {{ add_interview_form.csrf_token }}

        {% for field in add_interview_form if field.name != "csrf_token" %}
        <p>
            {% if field.name == "save_button" %}
                <dd class="wpforms-container-full .wpforms-form .wpforms-description"> {{ field }} </dd>
            {% elif field.name == "interviewer_names" %}
                <dt class="wpforms-container-full .wpforms-form .wpforms-title"> {{ field.label }}</dt>
                <dd class="wpforms-container-full .wpforms-form .wpforms-description"> <i class="fas fa-users"></i> {{ field }} </dd>
            {% elif field.name == "interview_type" or field.name == "interview_medium" or field.name == "status" %}
                <dt class="wpforms-container-full .wpforms-form .wpforms-title"> {{ field.label }}</dt>
                <dd class="wpforms-container-full .wpforms-form .wpforms-description"> <i class="fas fa-hand-pointer"></i> {{ field }} </dd>
            {% elif field.name == "interview_location" %}
                <dt class="wpforms-container-full .wpforms-form .wpforms-title"> {{ field.label }}</dt>
                <dd class="wpforms-container-full .wpforms-form .wpforms-description"> <i class="fas fa-thumbtack"></i> {{ field }} </dd>
            {% elif field.name == "phone_call" %}
                <dt class="wpforms-container-full .wpforms-form .wpforms-title"> {{ field.label }}</dt>
                <dd class="wpforms-container-full .wpforms-form .wpforms-description"> <i class="fas fa-mobile-alt"></i> {{ field }} </dd>
            {% else %}
                <dt class="wpforms-container-full .wpforms-form .wpforms-title"> {{ field.label }}</dt>
                <dd class="wpforms-container-full .wpforms-form .wpforms-description"> {{ field }} </dd>
            {% endif %}
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
            </p>
        {% endfor %}

    </form>

{% endblock %}