{% extends "layout.html" %}

{% block title %}
    Add Application Notes
{% endblock %}

{% block main %}
    
    <br/>
    {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
            <div class="flash alert alert-danger border text-center">{{ message }}</div>
        {% endfor %}
    {% endif %}
    
    <form action={{ details.action_url }} method="POST"> 
        <h1 class="text-center"> Add Application Note </h1>
        <hr class="thick_border"> 
        
        {{ notes_form.csrf_token }}
        <dt class="wpforms-container-full .wpforms-form .wpforms-title"> <i class="fas fa-heading"></i> {{ notes_form.description.label }}</dt>
        <dd class="wpforms-container-full .wpforms-form .wpforms-description"> {{ notes_form.description }} </dd>
        <br/>

        <dt class="wpforms-container-full .wpforms-form .wpforms-title"> <i class="fas fa-sticky-note"></i> {{ notes_form.user_notes.label }}</dt>
        <dd class="wpforms-container-full .wpforms-form .wpforms-description"> {{ notes_form.user_notes }} </dd>
        <br/>

        <dd class="wpforms-container-full .wpforms-form .wpforms-description"> {{ notes_form.save_notes }} </dd>

        {% for field in notes_form if field.name != "csrf_token" %}
            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        {% endfor %}

    </form>

{% endblock %}