{% extends "layout.html" %}

{% block title %}
    Add Company Form
{% endblock %}

{% block main %}
    <div class="alignfull-form"> 
        <div class="aligncenter"> 
            {% if get_flashed_messages() %}
                {% for message in get_flashed_messages() %}
                    <div class="flash alert alert-danger border text-center">{{ message }}</div>
                {% endfor %}
            {% endif %}

            {% if details.existing_company %}
                <div class="text-center link-button-margins">
                    <a href='/address_book' class="link_right link_button_primary"><i class="fas fa-address-book"> View Address Book </i></a>
                    <a href={{ details.update_url}} class="link_right link_button_primary"> <i class="fas fa-pencil-alt"> Update Company Profile </i></a>
                </div>
            {% endif %}

            <div class="form-grid full-grid-length">
                <form action={{ details.action_url }} method="POST"> 
                    {{ add_company_form.csrf_token }}
                    <div class="form-grid_child"> 
                        <h1 class="heading">  Add New Company</h1>
                        <hr class="thick_border"> 
                        
                        <div class="form-row">
                            <div class="col grid_child-simple">
                                <dt class="wpforms-container-full .wpforms-form .wpforms-title"><i class="fas fa-users"></i> {{ add_company_form.name.label }}</dt>
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description text_box">{{ add_company_form.name }} </dd> 
                            </div>
                            <div class="col grid_child-simple">
                                <dt class="wpforms-container-full .wpforms-form .wpforms-title"><i class="fas fa-bars"></i> {{ add_company_form.description.label }}</dt>
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description text_box">{{ add_company_form.description }} </dd> 
                            </div>
                        </div> 
                        <div class="form-row">
                            <div class="col grid_child-simple">
                                <dt class="wpforms-container-full .wpforms-form .wpforms-title"><i class="fas fa-thumbtack"></i> {{ add_company_form.location.label }}</dt>
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description text_box">{{ add_company_form.location }} </dd> 
                            </div>
                            <div class="col grid_child-simple">
                                <dt class="wpforms-container-full .wpforms-form .wpforms-title"><i class="fas fa-industry"></i> {{ add_company_form.industry.label }}</dt>
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description text_box">{{ add_company_form.industry }} </dd> 
                            </div>
                        </div> 
                        <div class="form-row">
                            <div class="col grid_child-simple">
                                <dt class="wpforms-container-full .wpforms-form .wpforms-title"><i class="fas fa-users"></i> {{ add_company_form.interviewers.label }}</dt>
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description text_box">{{ add_company_form.interviewers }} </dd> 
                            </div>
                            <div class="col grid_child-simple">
                                <dt class="wpforms-container-full .wpforms-form .wpforms-title"><i class="fas fa-mobile-alt"></i> {{ add_company_form.contact_number.label }}</dt>
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description text_box">{{ add_company_form.contact_number }} </dd> 
                            </div>
                        </div> 
                        <div class="form-row">
                            <div class="col">
                                <dt class="wpforms-container-full .wpforms-form .wpforms-title text-center"><strong> {www}</strong> {{ add_company_form.url.label }}</dt>
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description text_box">{{ add_company_form.url }} </dd> 
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description text_box">{{ add_company_form.save_button }} </dd>
                            </div>
                        </div>

                        {% for field in add_company_form if field.name != "csrf_token" %}
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}