{% extends "layout.html" %}

{% block title %}
    Add Job Application
{% endblock %}

{% block main %}
    <div class="alignfull-form"> 
        <div class="aligncenter"> 
            {% if get_flashed_messages() %}
                {% for message in get_flashed_messages() %}
                    <div class="flash alert alert-primary border text-center">{{ message }}</div>
                {% endfor %}
            {% endif %}

            <div class="form-grid full-grid-length">
                <form action="/add_job_application" method="POST"> 
                    {{ add_application_form.csrf_token }}
                    <div class="form-grid_child"> 
                        <h1 class="h1-heading"> Add Job Application </h1>
                        <h2 class="heading">Please Note:</h2>
                        <div class="form-row">
                            <div class="col">
                                <dd class="text-center"> This form will be a little long. Complete the items relevant to you. Empty fields will be saved automatically as 'N/A' </dd>
                                <dd class="card-warning-message">All Required fields are marked with an Asterisk *</dd>
                            </div>
                        </div>
                        <br/>
                        <h3 class="heading-extra-margins"> Role/Job Position</h3>
                        <div class="form-row">
                            <div class="col">
                                <dt class="wpforms-container-full .wpforms-form .wpforms-title"><i class="fas fa-history"></i> {{ add_application_form.date_posted.label }}</dt>
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description">{{ add_application_form.date_posted }}</dd> 
                            </div>
                        </div>
                        <div class="form-row grid_experiement">
                            <div class="col grid_child-simple">
                                <dt class="wpforms-container-full .wpforms-form .wpforms-title"><i class="fas fa-hashtag"></i> {{ add_application_form.job_ref.label }}</dt>
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description">{{ add_application_form.job_ref }}</dd> 
                            </div>
                            <div class="col grid_child-simple">
                                <dt class="wpforms-container-full .wpforms-form .wpforms-title"><i class="fas fa-pencil-ruler"></i> {{ add_application_form.job_role.label }} *</dt>
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description">{{ add_application_form.job_role }}</dd> 
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <dt class="wpforms-container-full .wpforms-form .wpforms-title"><i class="fas fa-bars"></i> {{ add_application_form.job_description.label }}</dt>
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description">{{ add_application_form.job_description }}</dd> 
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <dt class="wpforms-container-full .wpforms-form .wpforms-title"><i class="fas fa-bars"></i> {{ add_application_form.tech_stack.label }}</dt>
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description">{{ add_application_form.tech_stack }}</dd> 
                            </div>
                            <div class="col">
                                <dt class="wpforms-container-full .wpforms-form .wpforms-title"><i class="fas fa-bars"></i> {{ add_application_form.job_perks.label }}</dt>
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description">{{ add_application_form.job_perks }}</dd> 
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col grid_child-simple">
                                <dt class="wpforms-container-full .wpforms-form .wpforms-title"><i class="fas fa-pound-sign"></i> {{ add_application_form.salary.label }}</dt>
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description">{{ add_application_form.salary }}</dd> 
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col grid_child-simple">
                                <dt class="wpforms-container-full .wpforms-form .wpforms-title"><i class="fas fa-hand-pointer"></i> {{ add_application_form.emp_type.label }} *</dt>
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description">{{ add_application_form.emp_type }}</dd> 
                            </div>
                        </div>

                        <hr/>
                        <h2 class="heading-extra-margins"> Where you found this role</h2>
                        <div class="form-row">
                            <div class="col">
                                <dt class="wpforms-container-full .wpforms-form .wpforms-title"><i class="fas fa-newspaper"></i> {{ add_application_form.platform.label }}</dt>
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description">{{ add_application_form.platform }}</dd> 
                            </div>
                            <div class="col">
                                <dt class="wpforms-container-full .wpforms-form .wpforms-title"> {{ add_application_form.job_url.label }}</dt>
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description">{{ add_application_form.job_url }}</dd> 
                            </div>
                        </div>
                        <hr/>
                        <h3 class="heading-extra-margins"> Company / Client</h3>
                        <div class="form-row">
                            <div class="col grid_child-simple">
                                <dt class="wpforms-container-full .wpforms-form .wpforms-title"><i class="fas fa-users"></i> {{ add_application_form.company_name.label }} *</dt>
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description">{{ add_application_form.company_name }}</dd> 
                            </div>
                        </div> 
                        <div class="form-row">
                            <div class="col">
                                <dt class="wpforms-container-full .wpforms-form .wpforms-title"><i class="fas fa-bars"></i> {{ add_application_form.company_description.label }}</dt>
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description">{{ add_application_form.company_description }}</dd> 
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <dt class="wpforms-container-full .wpforms-form .wpforms-title"><i class="fas fa-industry"></i> {{ add_application_form.industry.label }}</dt>
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description">{{ add_application_form.industry }}</dd> 
                            </div>
                            <div class="col">
                                <dt class="wpforms-container-full .wpforms-form .wpforms-title"><i class="fas fa-thumbtack"></i> {{ add_application_form.location.label }}</dt>
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description">{{ add_application_form.location }}</dd> 
                            </div>
                        </div>
                        <hr/>
                        <h3 class="heading-extra-margins"><i class="fas fa-sticky-note"></i> Your Notes </h3>
                        <div class="form-row">
                            <div class="col">
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description">{{ add_application_form.user_notes }}</dd> 
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col btn btn-lg">
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description text_box">{{ add_application_form.save_button }} </dd>
                            </div>
                        </div>

                        {% for field in add_application_form if field.name != "csrf_token" %}
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </div>



    


{% endblock %}