{% extends "layout.html" %}

{% block title %}
    Job Applications
{% endblock %}

{% block main %}
    <div class="alignfull">
        <div class="aligncenter"> 
            <h1 class="text-center"> Job Applications </h1>
        
            {% if get_flashed_messages() %}
                {% for message in get_flashed_messages() %}
                    <div class="flash alert alert-success border text-center">{{ message }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="alignfull background-colour">
        <div class="aligncenter">  
            <div class="four-col-grid extra-margins">
                {% for application_id, application in display_details.fields.items() %}
                    <a href={{ application.view_more }} class="link-cards">
                        <h3 class="text-center"> {{ application.company_name }}</h3>
                        <div class="form-row">
                            <div class="col text-center"> 
                                <i class="fas fa-calendar-alt"> {{ application.app_date }}</i>
                            </div>
                        </div>
                        <br/>
                        <div class="form-row">
                            <div class="col text-center"> 
                                {{ application.job_role }}
                            </div>
                        </div>
                        <br/>
                        <div class="form-row">
                            <div class="col text-center"> 
                                {{ application.interview_stage }}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="alignfull">
        <div class="aligncenter"> 
            <div class="text-center xxx-margins"> 
                <a href="/add_job_application" class="link_button_primary link-button-margins"> <i class="fas fa-plus"> New Job Application </i></a>
            </div>
        </div>
    </div>
    
{% endblock %}

