{% extends "layout.html" %}

{% block title %}
    Job Applications
{% endblock %}

{% block main %}
    <div class="alignfull">
        <div class="aligncenter"> 
            <h1 class="h1-heading"> Job Applications </h1>

            {% if get_flashed_messages() %}
                {% for message in get_flashed_messages() %}
                    <div class="flash alert alert-success border text-center">{{ message }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="alignfull background-colour">
        <div class="aligncenter">  
            <div class="three-col-grid extra-margins">
                {% for application_id, application in display_details.fields.items() %}
                    <a href={{ application.view_more }} class="link-cards-alt-colour">
                        <i class="fas fa-hand-pointer"></i><h3 class="card-headings"> {{ application.company_name }}</h3>
                        <div class="card-content"> 
                            <div class="form-row">
                                <div class="col"> 
                                    <i class="fas fa-pencil-ruler"> {{ application.job_role }}</i>
                                </div>
                            </div>
                            <br/>
                        </div>
                        <div class="form-row">
                            <div class="col text-center"> 
                                {{ application.interview_stage }}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="alignfull">
        <div class="aligncenter"> 
            <div class="text-center xxx-margins"> 
                <a href="/add_job_application" class="link_button_primary link-button-margins"> <i class="fas fa-plus"> New Job Application </i></a>
            </div>
        </div>
    </div>
    
{% endblock %}

