{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <div class="alignfull-form"> 
        <div class="aligncenter"> 

            {% if get_flashed_messages() %}
                {% for message in get_flashed_messages() %}
                    <div class="flash alert alert-danger border">{{ message }}</div>
                {% endfor %}
            {% endif %}

            <div class="form-grid full-grid-length">
                <form action={{ details.change_password_url}} method="POST"> 
                    {{ change_password_form.hidden_tag() }}
                    <div class="form-grid_child"> 
                        <h1 class="h1-heading-extra-margins"> Change Password </h1>
                        <div class="form-row">
                            <div class="col grid_child-simple">
                                <dt class="wpforms-container-full .wpforms-form .wpforms-title"><i class="fas fa-lock"></i> {{ change_password_form.password.label }}</dt>
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description text_box">{{ change_password_form.password }} </dd> 
                            </div>
                            <div class="col grid_child-simple">
                                <dt class="wpforms-container-full .wpforms-form .wpforms-title"><i class="fas fa-lock"></i> {{ change_password_form.confirm_password.label }}</dt>
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description text_box">{{ change_password_form.confirm_password }} </dd> 
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col btn btn-lg">
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description text_box">{{ change_password_form.update_button }} </dd>
                            </div>
                        </div>

                        {% for field in change_password_form if field.name != "csrf_token" %}
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}