{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
            <div class="flash alert alert-danger border">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form action={{ details.change_password_url}} method="POST"> 
        <h1 class="text-center"> Change Password </h1>
        <hr class="thick_border"> 
        {{ change_password_form.csrf_token }}

        <div class="form-row">
            <div class="col">
                <dt class="wpforms-container-full .wpforms-form .wpforms-title"> {{ change_password_form.password.label }}</dt>
                <dd class="wpforms-container-full .wpforms-form .wpforms-description text_box">{{ change_password_form.password }} </dd> 
            </div>
            <div class="col">
                <dt class="wpforms-container-full .wpforms-form .wpforms-title"> {{ change_password_form.confirm_password.label }}</dt>
                <dd class="wpforms-container-full .wpforms-form .wpforms-description text_box">{{ change_password_form.confirm_password }} </dd> 
            </div>
        </div>
        <div class="form-row">
            <div class="col btn btn-lg">
                <dd class="wpforms-container-full .wpforms-form .wpforms-description text_box">{{ change_password_form.save_password }} </dd>
            </div>
        </div>

        {% for field in change_password_form if field.name != "csrf_token" %}
            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        {% endfor %}

    </form>


{% endblock %}