{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    <div class="alignfull"> 
        <div class="aligncenter">
            <h1 class="h1-heading"> Dashboard </h1>

            {% if get_flashed_messages() %}
                {% for message in get_flashed_messages() %}
                    <div class="flash alert alert-success border text-center">{{ message }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    {% if not display.all_tables_empty %}
        <div class="alignfull"> 
            <div class="aligncenter"> 
                <div class="dashboard-grid"> 
                    {% if not display.todays_interviews.empty_table %}
                        {% for interview_id, interview in display.todays_interviews.fields.items() %}
                            <a href={{ interview.view_interview }} class="link-cards">
                                <div class="dashboard-col-heading-grid"> 
                                    Interview Today
                                </div>
                                <div class="dashboard-col-content"> 
                                    <div class="form-row">
                                        <div class="col normal-margins"> 
                                            <i class="fas fa-calendar-alt"></i> {{ interview.date }} @ {{ interview.time }}
                                        </div>
                                    </div>
                                    {% if interview.interview_type == "Video / Online" %}
                                        <div class="form-row">
                                            <div class="col normal-margins"> 
                                                <i class="fas fa-video"></i> {{ interview.interview_type }}
                                            </div>
                                        </div>
                                    {% elif interview.interview_type == "In Person / On Site" %}
                                        <div class="form-row">
                                            <div class="col normal-margins"> 
                                                <i class="fas fa-thumbtack"></i> {{ interview.interview_type }}
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="form-row">
                                            <div class="col normal-margins"> 
                                                <i class="fas fa-mobile-alt"></i> {{ interview.interview_type }}
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="form-row">
                                        <div class="col normal-margins"> 
                                            <i class="fas fa-exclamation"></i> {{ interview.status }}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    {% endif %}
                    {% if not display.job_offer_details.empty_table %}
                        {% for job_offer_id, job_offer in display.job_offer_details.fields.items() %}
                            <a href={{ job_offer.view_offer }} class="link-cards">
                                {% if job_offer.offer_accepted %}
                                    <div class="dashboard-col-heading-grid"> 
                                        Your New Job!
                                    </div>
                                {% elif job_offer.present_dated_offer %}
                                    <div class="dashboard-col-heading-grid"> 
                                        New Job Offer!
                                    </div>
                                {% else %}
                                    <div class="dashboard-col-heading-grid"> 
                                        Job Offer Status
                                    </div>
                                {% endif %}
                                <div class="dashboard-col-content"> 
                                    {% if job_offer.offer_response == "Offer Accepted!" %}
                                        <div class="form-row">
                                            <div class="col normal-margins">     
                                                <i class="fas fa-calendar-alt"></i> {{ job_offer.starting_date }}
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="form-row"> 
                                        <div class="col normal-margins"> 
                                            <i class="fas fa-users"></i> {{ job_offer.company_name }}
                                        </div>
                                    </div>
                                    {% if job_offer.job_role %}
                                        <div class="form-row"> 
                                            <div class="col normal-margins"> 
                                                <i class="fas fa-pencil-ruler"></i> {{ job_offer.job_role }}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if job_offer.offer_accepted %}
                                        <div class="form-row"> 
                                            <div class="col normal-margins"> 
                                                <i class="fas fa-handshake"></i> {{ job_offer.offer_response }}
                                            </div>
                                        </div>
                                    {% elif job_offer.offer_response == "Offer Declined." %}
                                        <div class="form-row"> 
                                            <div class="col normal-margins"> 
                                                <i class="fas fa-thumbs-down"></i> {{ job_offer.offer_response }}
                                            </div>
                                        </div>
                                    {% elif job_offer.offer_response == "{{ job_offer.company_name }} pulled the offer." %}
                                        <div class="form-row"> 
                                            <div class="col normal-margins"> 
                                                <i class="fas fa-question"></i> sdasdsdas {{ job_offer.offer_response }}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if job_offer.salary_offered %}
                                        <div class="form-row"> 
                                            <div class="col normal-margins"> 
                                                <i class="fas fa-hand-holding-usd"></i> {{ job_offer.salary_offered }}
                                            </div>    
                                        </div>                
                                    {% endif %}
                                    {% if job_offer.perks_offered %}
                                        <div class="form-row"> 
                                            <div class="col normal-margins"> 
                                                <i class="fas fa-bars"></i> {{ job_offer.perks_offered }}
                                            </div> 
                                        </div>         
                                    {% endif %}
                                </div>
                            </a>
                        {% endfor %}
                    {% endif %}
                    {% if not display.upcoming_interviews.empty_table %}
                        {% for interview_id, interview in display.upcoming_interviews.fields.items() %}
                            <a href={{ interview.view_interview }} class="link-cards">
                                <div class="dashboard-col-heading-grid"> 
                                    Upcoming Interview
                                </div>
                                <div class="dashboard-col-content">
                                    <div class="form-row">
                                        <div class="col normal-margins"> 
                                            {{ interview.date }} @ {{ interview.time }}
                                        </div>
                                    </div>
                                    {% if interview.interview_type == "Video / Online" %}
                                        <div class="form-row">
                                            <div class="col normal-margins"> 
                                                <i class="fas fa-video"></i> {{ interview.interview_type }}
                                            </div>
                                        </div>
                                    {% elif interview.interview_type == "In Person / On Site" %}
                                        <div class="form-row">
                                            <div class="col normal-margins"> 
                                                <i class="fas fa-thumbtack"></i> {{ interview.interview_type }}
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="form-row">
                                            <div class="col normal-margins"> 
                                                <i class="fas fa-mobile-alt"></i> {{ interview.interview_type }}
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="form-row">
                                        <div class="col normal-margins"> 
                                            <i class="fas fa-exclamation"></i> {{ interview.status }}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    {% endif %}
                    {% if not display.applications_added_today.empty_table %}
                        {% for application_id, application in display.applications_added_today.fields.items() %}
                            <a href={{ application.view_application }} class="link-cards">
                                <div class="dashboard-col-heading-grid"> 
                                    Job Application Added Today
                                </div>
                                <div class="dashboard-col-content">
                                    <div class="form-row">
                                        <div class="col normal-margins"> 
                                            <i class="fas fa-pencil-ruler"></i> {{ application.job_role }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col normal-margins"> 
                                            <i class="fas fa-users"></i> {{ application.company_name }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col normal-margins"> 
                                            <i class="fas fa-text-width"></i> {{ application.emp_type }}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
    
    {% if not display.users_stats.all_tables_empty %}
        <div class="alignfull background-colour">
            <div class="aligncenter">  
                <h2 class="card-headings"> Your Progress So Far </h2>
                <div class="stats-grid"> 
                    <div class="stats-grid-child"> 
                        {% if display.users_stats.application_count %}
                            <div class="form-row">
                                <label class="stats-label-col stats-col-styling"> Applications Submitted</label>
                                <div class="stats-col right-padding stats-col-styling"> 
                                    {{ display.users_stats.application_count }}
                                </div>
                            </div>
                        {% endif %}
                        {% if display.users_stats.interviews_count %}
                            <div class="form-row">
                                <label class="stats-label-col stats-col-styling"> Total Interviews:</label>
                                <div class="stats-col right-padding stats-col-styling"> 
                                    {{ display.users_stats.interviews_count }}
                                </div>
                            </div>
                        {% endif %}
                        {% if display.users_stats.interviews_count %}
                            <div class="form-row">
                                <label class="stats-label-col stats-col-styling"> Job Offers Received:</label>
                                <div class="stats-col right-padding stats-col-styling"> 
                                    {{ display.users_stats.job_offers_count }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if display.all_tables_empty %}
        <div class="alignfull end-page-margins-min">
            <div class="aligncenter">  
                {% if display.total_application_count == 0 %}
                    <h2 class="card-headings"> Start adding your job applications:</h2>
                    <div class="link-div-styling"> 
                        <a href={{ display.add_application_url }} class="link_button_primary extra-button-styles"><i class="fas fa-plus"> Add Job Application </i></a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="alignfull end-page-margins-min">
            <div class="aligncenter">  
                <div class="link-div-styling"> 
                    <a href={{ display.add_application_url }} class="link_button_primary extra-button-styles"><i class="fas fa-plus"> Add Job Application </i></a>
                    {% if job_offer_details == None %}
                        <a href="/applications" class="link_button_primary link_middle extra-button-styles"><i class="fas fa-eye"> View all Applications</i> </a>
                        <a href="/add_job_offer" class="link_button_primary link-right extra-button-styles"><i class="fas fa-plus"> Add Job Offer</i> </a>
                    {% else %}
                        <a href="/applications" class="link_button_primary link-right extra-button-styles"><i class="fas fa-eye"> View all Applications</i> </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}