{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    <h1 class="text-center"> Dashboard </h1>
    <hr/>

    {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
            <div class="flash alert alert-success border text-center">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <div> 
        <table>
            <tr class="border-right border-left">
                <th class="text-center border-bottom border-right border-left border-top"> Applications Submitted Today</th>
                <th class="text-center border-left border-right"> </th>
                <th class="text-center border-bottom border-right border-left border-top"> Interviews Today</th>
            </tr>
            <tr class="border-right border-left"> 
                <td class="text-center border-bottom border-right border-left border-top"> {{ display.applications_today }}</td>
                <td class="text-center border-left border-right"> </td>
                <td class="text-center border-bottom border-right border-left border-top"> {{ display.interviews_today }}</td>
            </tr>
        </table>

    </div>
    <br/>
    
    <!-- Drop down to view table-->
    <div class="horizontal_buttons text-center">
        <a href="/applications" class="button middle_button"><i class="fas fa-eye"> View all Applications</i> </a>
    </div>

    <hr/>

    <h2 class="text-center"> Upcoming Interviews: </h2>
    <br/>

    {% if display.all_interviews != None and display.interview_details != None %}
        {% for company_name, interviews in display.interview_details.items() %}
            {% for interview_id, fields in interviews.items() %}
                <h4 class="text-center"> {{ company_name }} </h4>
                <div class="text-center"> 
                    <i class="fas fa-calendar-alt"></i> {{ fields.Date }} @ {{ fields.Time }}
                </div> 

                <div class="text-center"> 
                    {% if fields.interview_type == 'in_person' %}
                        <i class="fas fa-location-arrow"></i> {{ fields.Location }}
                    {% elif fields.interview_type == 'video_or_online' %}
                        <i class="fas fa-video"></i> {{ fields.interview_medium }}
                    {% else %}
                        <i class="fas fa-mobile-alt"></i> {{ fields.contact_number }}
                    {% endif %}
                </div> 
                {% if fields.interviewers %}
                    <div class="text-center"> 
                        <i class="fas fa-users"> Interviewers: </i> {{ fields.interviewers }}
                    </div>
                {% endif %}
                {% if fields.past_dated %}
                <div class="text-center"> 
                    This is a <strong> past-dated</strong> interview! You may want to <a href={{ fields.update_url }}>update</a> the status. 
                </div>
                {% endif %}
                <div class="text-center"> 
                    <a href={{ fields.View_More }}><i class="fas fa-eye"> View More</i></a>
                    <a href={{ fields.update_url }}><i class="fas fa-pencil-alt"> Update Details</i></a>
                </div>
                
                <br/>
            {% endfor %}
        {% endfor %}
    {% endif %}
    <hr/>


{% endblock %}