{% extends "layout.html" %}

{% block title %}
    Delete Account
{% endblock %}

{% block main %}
    <div class="alignfull-form"> 
        <div class="aligncenter"> 

            {% if get_flashed_messages() %}
                {% for message in get_flashed_messages() %}
                    <div class="flash alert alert-success border text-center">{{ message }}</div>
                {% endfor %}
            {% endif %}

            <div class="form-grid full-grid-length">
                <form action={{ display.action_url }} method="POST"> 
                    {{ delete_account_form.csrf_token }}
                    <div class="form-grid_child"> 
                        <h1 class="text-center"> Delete Account </h1>
                        <hr class="thick_border"> 
                
                        <div class="form-row">
                            <div class="col">
                                <dt class="wpforms-container-full .wpforms-form .wpforms-title"> Your Account Password:</dt>
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description text_box">{{ delete_account_form.password }} </dd> 
                            </div>
                        </div>
                
                        <div class="form-row">
                            <div class="col btn btn-lg">
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description text_box">{{ delete_account_form.delete_account }} </dd>
                            </div>
                        </div>
                
                        {% for field in delete_account_form if field.name != "csrf_token" %}
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </div>

    
{% endblock %}