{% extends "layout.html" %}

{% block title %}
    Delete Company Profile
{% endblock %}

{% block main %}
    <div class="alignfull-form"> 
        <div class="aligncenter"> 

            {% if get_flashed_messages() %}
                {% for message in get_flashed_messages() %}
                    <div class="flash alert alert-success border text-center">{{ message }}</div>
                {% endfor %}
            {% endif %}

            <div class="form-grid full-grid-length">
                <form action={{ display.action_url }} method="POST"> 
                    {{ delete_company_form.csrf_token }}
                    <div class="form-grid_child"> 
                        <h1 class="h1-heading"> Delete Company Profile </h1>
                        <h2 class="heading-extra-margins"><i class="fas fa-users"></i> {{ display.company_name }}</h2>
                        <div class="form-row">
                            <div class="col">
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description text_box"> 
                                    <strong> Please Note: </strong> Deleting this company profile will also delete all Job Applications, Notes, Interviews & Interview Preparation related to this company's Profile.
                                </dd> 
                            </div>
                        </div> 
                        <br/>
                        <div class="form-row">
                            <label class="wpforms-container-full .wpforms-form .wpforms-title field_title"><i class="fas fa-hand-pointer"></i> {{ delete_company_form.confirm_choice.label }}</label>
                            <select id="confirm_choice" name="confirm_choice"> 
                                <option value="select_option" disabled> Select your option.</option> 
                                {% for select_option in delete_company_form.confirm_choice.choices %}
                                    {% if select_option[0] == delete_company_form.confirm_choice.default %}
                                        <option value={{ select_option[0] }} selected> {{ select_option[1] }}</option> 
                                    {% else %}
                                        <option value={{ select_option[0] }}> {{ select_option[1] }}</option> 
                                    {% endif %}
                                {% endfor%}
                            </select>
                        </div>
                        <div class="form-row">
                            <div class="col btn btn-lg">
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description text_box">{{ delete_company_form.delete_button }} </dd>
                            </div>
                        </div>
                
                        {% for field in delete_company_form if field.name != "csrf_token" %}
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </div>

    
{% endblock %}