{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="alignfull">
        <div class="aligncenter"> 
            <h1 class="h1-heading"> Welcome to Job Hunt Manager! </h1>

            {% if get_flashed_messages() %}
                {% for message in get_flashed_messages() %}
                    <div class="flash alert alert-success border text-center">{{ message }}</div>
                {% endfor %}
            {% endif %}

        </div>
    </div>

    <div class="alignfull"> 
        <div class="aligncenter"> 
            <div class="landingpage-img-grid background-colour">
                <div class="landingpage-img-label"> 
                    Your Dashboard
                </div>
                <img src="../static/images/dashboard.jpg" alt="No Image">
            </div>
        </div>
    </div>

    <div class="alignfull background-colour"> 
        <div class="aligncenter"> 
            <div class="landingpage-grid-group"> 
                <div class="landingpage-img-grid">
                    <div class="landingpage-img-label"> 
                        Add the job Applications you're submitting
                    </div>
                    <img src="../static/images/add_job_application3.jpg" alt="add_application_screenshot">
                </div>
                <div class="landingpage-img-grid">
                    <div class="landingpage-img-label"> 
                        Add Your Upcoming Interviews
                    </div>
                    <img src="../static/images/add_interview2.jpg" alt="add_interview_screenshot">
                </div>
                <div class="landingpage-img-grid">
                    <div class="landingpage-img-label"> 
                        Add The Job Offers You've Received
                    </div>
                    <img src="../static/images/add_job_offer.jpg" alt="No Image">
                </div>
                <div class="landingpage-img-grid">
                    <div class="landingpage-img-label"> 
                        View Your Progress So Far
                    </div>
                    <img src="../static/images/progress_stats.jpg" alt="No Image">
                </div>
                <div class="landingpage-img-grid">
                    <div class="landingpage-img-label"> 
                        Build Your Professional Network
                    </div>
                    <img src="../static/images/contacts_directory.jpg" alt="No Image">
                </div>
                <div class="landingpage-img-grid">
                    <div class="landingpage-img-label"> 
                        Put Together A Directory of Companies You're Interested In
                    </div>
                    <img src="../static/images/company_list2.jpg" alt="No Image">
                </div>
            </div>
        </div>
    </div>

    

{% endblock %}