{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="alignfull">
        <div class="aligncenter"> 
            <h1 class="text-center heading_margins"> Welcome to Job Hunt Manager! </h1>

            {% if get_flashed_messages() %}
                {% for message in get_flashed_messages() %}
                    <div class="flash alert alert-success border text-center">{{ message }}</div>
                {% endfor %}
            {% endif %}

        </div>
    </div>

    <div class="alignfull background-colour"> 
        <div class="aligncenter"> 
            <h2 class="text-center heading_margins"> View Your Daily Stats </h2>
            <img class="screenshot-img" src="../static/images/daily_stats_jpg.jpg" alt="dashboard_screenshot">
        </div>
    </div>

    <div class="alignfull">
        <div class="aligncenter">  
            <h2 class="text-center heading_margins"> Start Your Job Hunting Journey </h2>
            <div class="grid_experiement extra-margins">
                <div class="screenshot-grid"> 
                    <img class="screenshot-img-styling" src="../static/images/add_job_application.jpg" alt="add_application_screenshot">
                    <div class="screenshot-labels">
                        <label class="text-center"><i class="fas fa-plus"></i> Add Job Application</label>
                    </div>
                </div>
                <div class="screenshot-grid"> 
                    <img class="screenshot-img-styling" src="../static/images/add_interview_screenshot.jpg" alt="add_interview_screenshot">
                    <div class="screenshot-labels">
                        <label class="text-center"><i class="fas fa-plus"></i> Add Interview</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="alignfull xxx-margins background-colour">
        <div class="aligncenter">  
            <h2 class="text-center heading_margins"> Build Your Network </h2>
            <div class="grid_experiement extra-margins">
                <div class="screenshot-grid"> 
                    <img class="screenshot-contacts-styling" src="../static/images/top_indiv_contacts_jpg.jpg" alt="add_indiv_contact_screenshot">
                    <div class="screenshot-labels">
                        <label class="text-center"><i class="fas fa-plus"></i> Add Individual Contact</label>
                    </div>
                </div>
                <div class="screenshot-grid"> 
                    <img class="screenshot-contacts-styling" src="../static/images/top_company_entries_jpg.jpg" alt="add_company_screenshot">
                    <div class="screenshot-labels">
                        <label class="text-center"><i class="fas fa-plus"></i> Add Company</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

                

{% endblock %}