{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1> Welcome {{ display.username}}! </h1>
    <br/>
    <br/>

    <h2> Your Applications: </h2>
    <br/>

    <div class="horizontal">
        {% if display.applications_today == 0 %}
            <li> You have not submitted any applications today.</li>
        {% else %}
            <li class="left_button"> Applications made today: {{ display.applications_today }}</li>
        {% endif %}
    </div>
    <br/>
    <h3> View Your Applications history:</h3>
    <!-- Drop down to view table-->
    <div class="horizontal_buttons">
        <a href="/add_job_application" class="button right_button" style="cursor:pointer;"> Add +</a>
        <a href="/applications" class="button middle_button">View all Applications</a>
    </div>

    <table class="Table"> 
        <tr class="border-bottom border-right border-left border-top">
            {% for item in display.top_5_applications.headings %}
                <th class="border-bottom border-right border-left"> {{ item }} </th> 
            {% endfor %}
        </tr>

        {% for key, fields in display.top_5_applications.items() %}
            {% if key != "headings" %}
                <tr class="border-bottom border-right border-left">
                    {% for heading, field in fields.items() %}
                        {% if heading == "View More" %}
                            <td class="border-bottom border-right border-left"><a href="../applications/{{ field }}"> View</a></td>
                        {% else %}
                            <td class="border-bottom border-right border-left"> {{ field }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>


    </table>
    <br/>

    <br/>

    <h2> Interviews</h2>
    <br/>

    <div class="horizontal">
        {% if display.interviews_today == 0 %}
            <li class="left_button"> You have no Interviews lined up today.</li>
        {% else %}
            <li class="left_button"> Interviews lined up for today: {{ display.interviews_today }}</li>
        {% endif %}
    </div>

{% endblock %}