{% extends "layout.html" %}

{% block title %}
    Interviews
{% endblock %}

{% block main %}
<h1> Interview History</h1>
<hr/>

<table class="center"> 
    <tr class="border-bottom border-right border-left border-top">
        <th class="border-left border-right"> No.</th>
        <th class="border-left border-right"> Date</th>
        <th class="border-left border-right"> Company Name</th>
        <th class="border-left border-right"> Role</th>
        <th class="border-left border-right"> Type</th>
        <th class="border-left border-right"> Medium</th>
        <th class="border-left border-right"> Location</th>
        <th class="border-left border-right"> Status</th>
        <th class="border-left border-right"> Contact No.</th>
        <th class="border-left border-right"> Interviewers' Names</th>
    </tr>

    {% for id, fields in details.items() %}
        {% if id != 'headings' %}
            <tr class="border-bottom border-right border-left border-top">
                <td class="border-bottom border-right border-left border-top"> {{ id }} </td>
                {% for value in fields.values() %}
                    <td class="border-bottom border-right border-left border-top"> {{ value }}</td>
                {% endfor %}
            </tr>
        {% endif %}
    {% endfor %}

</table>


{% endblock %}