{% extends "layout.html" %}

{% block title %}
    Add Interview Preparation
{% endblock %}

{% block main %}
    <div class="alignfull">
        <div class="aligncenter"> 
            <h1 class="text-center"> Prepare for your next Interview </h1>

            {% if get_flashed_messages() %}
                {% for message in get_flashed_messages() %}
                    <div class="flash alert alert-success border text-center">{{ message }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="alignfull">
        <div class="aligncenter"> 
            <div class="single_col_grid">
                <div class="grid_child"> 
                    <h2 class="card-headings"> {{ company_details.company_name }} </h2>
                    <div class="form-row">
                        <div class="col left-padding"> 
                            <strong> Description</strong>
                        </div>
                        <div class="col right-padding"> 
                            {{ company_details.description}} 
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col left-padding"> 
                            <strong> Location</strong>
                        </div>
                        <div class="col right-padding"> 
                            {{ company_details.location}} 
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col left-padding"> 
                            <strong> Company Website</strong>
                        </div>
                        <div class="col right-padding"> 
                            {{ company_details.website}} 
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col left-padding"> 
                            <strong> Interviewer/s' Names</strong>
                        </div>
                        <div class="col right-padding"> 
                            {{ company_details.interviewers}} 
                        </div>
                    </div>
                    <div class="text-center link-button-margins"> 
                        <a href={{ company_details.view_profile }} class="link_button"> <i class="fas fa-eye"> View Company Profile</i></a>
                        <a href={{ company_details.view_notes }} class="link_button"> <i class="fas fa-eye"> View Notes for {{ company_details.company_name }}</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="alignfull background-colour">
        <div class="aligncenter"> 
            <h2 class="text-center link-button-margins"> Research </h2>
            <p class="text-center"> Not sure where to start? Here are a few links you may find interesting to get you started:</p>
            <div class="text-center link-button-margins"> 
                <a href={{ links.glassdoor }} class="link_button"> GlassDoor</a>
                <a href={{ links.the_muse }} class="link_button"> The Muse</a>
                <a href={{ links.monster }} class="link_button"> Monster</a>
                <a href={{ links.national_careers_service_UK }} class="link_button"> National Careers Service UK</a>
            </div>
        </div>
    </div>

    <div class="alignfull-form">
        <div class="aligncenter"> 

            <div class="form-grid full-grid-length">
                <form action={{ details.action_url }} method="POST">
                    {{ interview_prep_form.csrf_token }}
                    <div class="form-grid_child">  
                        <h2 class="text-center"> Add Interview Question:</h2>
                        <hr class="thick_border"> 
                        <div class="form-row">
                            <div class="col text-center">
                                <dt class=".wpforms-title"> Example Question:</dt>
                                <dd class=".wpforms-description text_box">Tell me about yourself? </dd> 
                            </div>
                        </div>
                        <br/>
                        <div class="form-row">
                            <div class="col">
                                <dt class="wpforms-container-full .wpforms-form .wpforms-title"> {{ interview_prep_form.question.label }}</dt>
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description text_box">{{ interview_prep_form.question }} </dd> 
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <dt class="wpforms-container-full .wpforms-form .wpforms-title"> {{ interview_prep_form.answer.label }}</dt>
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description text_box">{{ interview_prep_form.answer }} </dd> 
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col btn btn-lg">
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description text_box">{{ interview_prep_form.save_button }} </dd>
                            </div>
                        </div>
                        {% for field in interview_prep_form if field.name != "csrf_token" %}
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </form>
            </div>
            
        </div>
    </div>

    {% if interview_prep_details != None %}
        <div class="alignfull background-colour">
            <div class="aligncenter"> 
                <h2 class="text-center"> View Interview Prep</h2>
                <div class="single_col_grid"> 
                    {% for prep_id, values in interview_prep_details.items() %}
                        <div class="grid_child-alt-colour">
                            <h4 class="card-headings"> #{{ values.question_number }}: {{ values.Question }}</h4>
                            <div class="form-row">
                                <div class="col left-padding"> 
                                    {{ values.Answer }} 
                                </div>
                            </div>
                            <div class="text-center link-button-margins"> 
                                <a href={{ values.update_prep_entry }} class="link_button"><i class="fas fa-pencil-alt"> Update</i></a>
                                <a href={{ values.delete_prep_entry }} class="link_button"> <i class="fas fa-trash"> Delete</i></a>  
                            </div>
                        </div>
                    {% endfor %}
                    <br/>
                </div>
            </div>
        </div>
        <div class="alignfull">
            <div class="aligncenter"> 
                <div class="text-center xxx-margins"> 
                    <a href={{ details.return_to_interview }} class="link_button_primary text-center"> <i class="fas fa-angle-left"> Go back to Interview</i></a>
                    <a href={{ details.return_to_application }} class="link_button_primary text-center"> <i class="fas fa-angle-double-left"> Go back to Application</i></a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="alignfull background-colour">
            <div class="aligncenter"> 
                <div class="text-center xxx-margins"> 
                    <a href={{ details.return_to_interview }} class="link_button_primary text-center"> <i class="fas fa-angle-left"> Go back to Interview</i></a>
                    <a href={{ details.return_to_application }} class="link_button_primary text-center"> <i class="fas fa-angle-double-left"> Go back to Application</i></a>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}