{% extends "layout.html" %}

{% block title %}
    Interviews
{% endblock %}

{% block main %}
<h1> Interview History</h1>
<hr/>

<a href="/add_interview" style="cursor:pointer; text-align: right;"> Add +</a>
<table class="center"> 
    <tr class="border-bottom border-right border-left border-top">
        {% for item in details.headings %}
            <th class="border-bottom border-right border-left border-top"> {{ item }} </th>
        {% endfor %}
    </tr>

    {% for id, fields in details.items() %}
        {% if id != 'headings' %}
            <tr class="border-bottom border-right border-left border-top">
                <td class="border-bottom border-right border-left border-top"> {{ id }} </td>
                {% for value in fields.values() %}
                    <td class="border-bottom border-right border-left border-top"> {{ value }}</td>
                {% endfor %}
            </tr>
        {% endif %}
    {% endfor %}
</table>


{% endblock %}