<!DOCTYPE html>

<html lang="en">

    <head>
        {{ fontawesome_css() }}

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
        <link href="/static/favicon.ico" rel="icon">
        <link href="/static/styles.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href="bootstrap.bundle.min.js/bootstrap.bundle.js">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script> -->
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> -->

        <title> Job Hunt Manager {% block title %}{% endblock %}</title>

    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="/"> Job Hunt Manager PILOT </a>
            <!-- <a class="navbar-brand" href="/"><span class="blue">C</span><span class="red">$</span><span class="yellow">5</span><span class="green">0</span> <span class="red">Finance</span></a> -->
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                {% if session.user_id %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/dashboard"> <i class="fas fa-home"> Home</i></a></li>
                        <li class="nav-item"><a class="nav-link" href="/applications"> <i class="fas fa-clipboard-list"> Applications</i> </a></li>
                        <li class="nav-item"><a class="nav-link" href="/view_all_notes"> <i class="fas fa-sticky-note"> Notes</i></a></li>
                        <li class="nav-item"><a class="nav-link" href="/address_book"> <i class="fas fa-address-book"> Address Book</i></a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/userprofile"> <i class="fas fa-user"> User Profile</i> </a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout"> <i class="fas fa-sign-out-alt"> Log Out</i></a></li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/"> <i class="fas fa-home"> Home</i></a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                    </ul>
                {% endif %}
            </div>
        </nav>


        <div class="main_container">

            <main>
                <div class="alignfull"> 
                    <div class="aligncenter">   
                        {% block main %} {% endblock %}
                    </div>
                </div>
            </main>
            
            {% block footer %}
                <footer class="footer small text-center">
                    <div>
                        <a class="nav-link footer_link" href="/about_us"> About</a></li>
                    </div> 
                
                    <small class="footer small text-center">&copy; 2021, Job Hunt Manager</small>
                </footer>
            {% endblock %}


        </div>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
        
    </body>

</html>
