{% extends "layout.html" %}

{% block title %}
    Update Job Application
{% endblock %}

{% block main %}
    <h1> Update Application </h1>
    <br/>
    <p> Note: This form will be a little long. Complete the items relevant to you. </p>
    <p> If you don't complete a field, however, it will be saved automatically as 'N/A'</p>
    <br/>

    {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
            <div class="flash alert alert-danger border text-center">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form action='/applications/{{ fields.application_id }}/update_application' method="POST"> 
        {{ update_form.csrf_token }}
        {% for field in update_form if field.name != "csrf_token" %}
            <p> 
                {% if field.name == "save_application" %}
                    {{ field }} 
                {% else %}
                    <dt class="wpforms-container-full .wpforms-form .wpforms-title"> {{ field.label }}</dt>
                    <dd class="wpforms-container-full .wpforms-form .wpforms-description"> {{ field }} </dd>
                {% endif %}
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
            </p>
        {% endfor %}

    </form>


{% endblock %}