{% extends "layout.html" %}

{% block title %}
    Update Email
{% endblock %}

{% block main %}
    <div class="alignfull background-blue"> 
        <div class="aligncenter"> 
        
            {% if get_flashed_messages() %}
                {% for message in get_flashed_messages() %}
                    <div class="flash alert alert-danger border text-center">{{ message }}</div>
                {% endfor %}
            {% endif %}

            <form action={{ details.update_url}} method="POST"> 
                {{ update_email_form.csrf_token }}
                <h1 class="text-center"> Update Email </h1> 
                <hr class="thick_border">

                <div class="form-row">
                    <div class="col grid_child-simple">
                        <dt class="wpforms-container-full .wpforms-form .wpforms-title"> {{ update_email_form.email.label }}</dt>
                        <dd class="wpforms-container-full .wpforms-form .wpforms-description">{{ update_email_form.email }}</dd> 
                    </div>
                    <div class="col grid_child-simple">
                        <dt class="wpforms-container-full .wpforms-form .wpforms-title"> {{ update_email_form.confirm_email.label }}</dt>
                        <dd class="wpforms-container-full .wpforms-form .wpforms-description">{{ update_email_form.confirm_email }}</dd> 
                    </div>
                </div>
                <div class="form-row">
                    <div class="col btn btn-lg">
                        <dd class="wpforms-container-full .wpforms-form .wpforms-description text_box">{{ update_email_form.update_button }} </dd>
                    </div>
                </div>

                {% for field in update_email_form if field.name != "csrf_token" %}
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                {% endfor %}
            </form>
        </div>
    </div>


{% endblock %}