{% extends "layout.html" %}

{% block title %}
    Update Interview Status
{% endblock %}

{% block main %}
    <div class="alignfull"> 
        <div class="aligncenter"> 
            
            {% if get_flashed_messages() %}
                {% for message in get_flashed_messages() %}
                    <div class="flash alert alert-danger border text-center">{{ message }}</div>
                {% endfor %}
            {% endif %}

            <div class="form-grid full-grid-length">
                <form action={{ general_details.links.action_url }} method="POST"> 
                    {{ update_status_form.csrf_token }}
                    <div class="form-grid_child"> 
                        <h1 class="h1-heading"> Update Interview Status </h1>
                        <h2 class="heading-extra-margins"><i class="fas fa-users"></i> {{ general_details.company_name}}</h2>
                        <div class="form-row extra-margins">
                            <div class="col left-paddinge">
                                <dt class="wpforms-container-full .wpforms-form .wpforms-title"> {{ update_status_form.status.label }}</dt>
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description text_box">{{ update_status_form.status }} </dd>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col btn btn-lg">
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description text_box">{{ update_status_form.save_button }} </dd>
                            </div>
                        </div>

                        {% for field in update_status_form if field.name != "csrf_token" %}
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="alignfull background-colour bottom-margins">
        <div class="aligncenter"> 
            <div class="text-center link-button-margins"> 
                <a href={{ general_details.links.view_application }} class="link_button_primary text-center"> <i class="fas fa-eye"> Go to Application Details</i></a>
                <a href={{ general_details.links.view_interview }} class="link_button_primary text-center"> <i class="fas fa-eye"> Go to Interview Details</i></a>
            </div>
        </div>
    </div>


{% endblock %}