{% extends "layout.html" %}

{% block title %}
    Update Company Note
{% endblock %}

{% block main %}
    <div class="alignfull">
        <div class="aligncenter"> 

            {% if get_flashed_messages() %}
                {% for message in get_flashed_messages() %}
                    <div class="flash alert alert-danger border text-center">{{ message }}</div>
                {% endfor %}
            {% endif %}

            <div class="form-grid full-grid-length">
                <form action={{ details.action_url }} method="POST"> 
                    {{ update_note_form.hidden_tag() }}
                    <div class="form-grid_child"> 
                        <h1 class="h1-heading"><i class="fas fa-sticky-note"></i> Update Company Note</h1>
                        <h2 class="heading-extra-margins"><i class="fas fa-users"></i> {{ details.company_name }} </h2>
                        <div class="form-row">
                            <div class="col">
                                <dt class="wpforms-container-full .wpforms-form .wpforms-title text-center"> <i class="fas fa-heading"></i> {{ update_note_form.subject.label }}</dt>
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description text-center"> {{ update_note_form.subject }} </dd>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <dt class="wpforms-container-full .wpforms-form .wpforms-title text-center"> <i class="fas fa-sticky-note"></i> {{ update_note_form.note_text.label }}</dt>
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description text-center"> {{ update_note_form.note_text }} </dd>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col btn btn-lg">
                                <dd class="wpforms-container-full .wpforms-form .wpforms-description text_box">{{ update_note_form.save_button }} </dd>
                            </div>
                        </div>

                        {% for field in update_note_form if field.name != "csrf_token" %}
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}