{% extends "layout.html" %}

{% block title %}
    Update Note
{% endblock %}

{% block main %}
    <h1> {{ details.company_name }} </h1>
    <hr/>

    <h1> Update Note: </h1>
    <br/>
    <form action='/applications/{{ details.application_id }}/user_notes/{{ details.note_id }}/update_note' method="POST"> 
        {{ update_note_form.csrf_token }}
        {% for field in update_note_form if field.name != "csrf_token" %}
            <p> 
                {% if field.name == "save_notes" %}
                <dd class="wpforms-container-full .wpforms-form .wpforms-description"> {{ field }} </dd>
                {% else %}
                    <dt class="wpforms-container-full .wpforms-form .wpforms-title"> {{ field.label }}</dt>
                    <dd class="wpforms-container-full .wpforms-form .wpforms-description"> {{ field }} </dd>
                {% endif %}
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
            </p>
        {% endfor %}

    </form>


{% endblock %}