{% extends "layout.html" %}

{% block title %}
    Update Interview Details
{% endblock %}

{% block main %}
    <h1> Update Interview for {{ details.company_name }} </h1>
    <br/>
    <form action='/applications/{{ details.application_id }}/interview/{{ details.interview_id }}/update_interview' method="POST"> 
        {{ update_interview_form.csrf_token }}
        {% for field in update_interview_form if field.name != "csrf_token" %}
            <p> 
                {% if field.name == "save_button" %}
                    {{ field }} 
                {% else %}
                    <dt class="wpforms-container-full .wpforms-form .wpforms-title"> {{ field.label }}</dt>
                    <dd class="wpforms-container-full .wpforms-form .wpforms-description"> {{ field }} </dd>
                {% endif %}
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
            </p>
        {% endfor %}

    </form>


{% endblock %}