{% extends "layout.html" %}

{% block title %}
    User Profile
{% endblock %}

{% block main %}
    <div class="alignfull">
        <div class="aligncenter"> 
            <h1 class="text-center"> User Profile </h1>
            {% if get_flashed_messages() %}
                {% for message in get_flashed_messages() %}
                    <div class="flash alert alert-success border text-center">{{ message }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="alignfull">
        <div class="aligncenter"> 
            <div class="grid_experiement full-grid-length">
                <div class="grid_child"> 
                    <h2 class="text-center extra-margins"> Your Details </h2>
                    <div class="form-row">
                        <div class="col left-padding"> 
                            <strong> {{ user_details.username.heading }} </strong>
                        </div>
                        <div class="col right-padding"> 
                            {{ user_details.username.data }} 
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col left-padding"> 
                            <strong> {{ user_details.user_email.heading }}</strong>
                        </div>
                        <div class="col right-padding"> 
                            {{ user_details.user_email.data }}  <a href={{ user_details.user_email.update_url }}> <i class="fas fa-pencil-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="alignfull">
        <div class="aligncenter"> 
            <div class="text-center xxx-margins"> 
                <a href={{ details.change_password_url }} class="link_button_primary text-center"><i class="fas fa-lock"> Change Password</i></a>
                <a href={{ details.delete_account_url }} class="link_button_primary text-center"> <i class="fas fa-trash"> Delete Account</i></a>
            </div>
        </div>
    </div>

{% endblock %}