{% extends "layout.html" %}

{% block title %}
    Company Profile
{% endblock %}

{% block main %}
    <div class="alignfull"> 
        <div class="aligncenter"> 
            <h1 class="text-center"> {{ general_details.company_name }} </h1>

            {% if get_flashed_messages() %}
                {% for message in get_flashed_messages() %}
                    <div class="flash alert alert-success border text-center">{{ message }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="alignfull background-colour">
        <div class="aligncenter"> 
            <div class="grid_experiement full-grid-length">
                <div class="grid_child"> 
                    <h2 class="text-center extra-button-styles"> Company Profile </h2>
                    {% for fields in company_details.values() %}
                        {% if fields.data %}
                            <div class="form-row">
                                <div class="col left-padding"> 
                                    <strong> {{ fields.label }}</strong>
                                </div>
                                <div class="col right-padding"> 
                                    {{ fields.data }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="text-center link-button-margins"> 
                        <a href={{ general_details.update_url}} class="link_button"> <i class="fas fa-pencil-alt"> Update</i></a>
                        <a href={{ general_details.delete_url}} class="link_button"> <i class="fas fa-trash"> Delete</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="alignfull"> 
        <div class="aligncenter"> 
            <h3 class="text-center">Notes:</h3> 
            <div class="text-center link-button-margins">
                <a href={{ general_details.add_note_url}} class="link_button_primary text-center"> <i class="fas fa-plus"> Add Note For {{ general_details.company_name }}</i></a>
                <a href={{ general_details.view_notes_url}} class="link_button_primary text-center"> <i class="fas fa-plus"> View All Notes For {{ general_details.company_name }}</i></a>
            </div>
        </div>
    </div>

    <div class="alignfull background-colour">
        <div class="aligncenter"> 
            <h3 class="text-center">Job Applications</h3> 
            <div class="text-center xxx-margins">
                <a href={{ general_details.add_job_application_url}} class="link_button_primary text-center"> <i class="fas fa-plus"> Add Job Application For {{ general_details.company_name }}</i></a>
            </div>
        </div>
    </div>

    
{% endblock %}