{% extends "layout.html" %}

{% block title %}
    View Company Notes
{% endblock %}

{% block main %}
    <h1 class="text-center">  {{ general_details.company_name }}: </h1>
    <hr/>

    {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
            <div class="flash alert alert-success border text-center">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <h2 class="text-center"> Your notes:</h2>

    {% if general_details.empty_table %}
        <p class="text-center"> <a href={{ general_details.add_note_url}}> <i class="fas fa-plus"> Add </i></a> your first note.</p>
    {% else %}
        <table class="center"> 
            <tr> 
                <th> <a href={{ general_details.add_note_url}} class="text-center"> <i class="fas fa-plus"> Add </i></a></th>
            </tr>

            <tr> 
                {% for heading in general_details.headings %}
                    {% if heading == "" %}
                        <th class="border-left"> {{ heading }}</th>
                    {% elif heading == "Note" %}
                        <th class="border-right border-bottom border-top"> {{ heading }}</th>
                    {% else %}
                        <th class="border-bottom border-top"> {{ heading }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr> 
                {% for note_id, fields in note_details.items() %}
                    <td class="border-bottom border-top border-left"> {{ note_id }}</td>
                    <td class="border-bottom border-top"> {{ fields.Date }}</td>
                    <td class="border-bottom border-top"> {{ fields.Subject }}</td>
                    <td class="border-bottom border-right border-top"> {{ fields.Note_Text }}</td>
                    <td class="center border-left"> 
                        <a href={{ fields.View_More }}> <i class="fas fa-eye"> View</i></a>
                        <a href={{ fields.Update_url }}> <i class="fas fa-pencil-alt"> Update</i></a>
                        <a href={{ fields.Delete_url }}> <i class="fas fa-trash"> Delete</i></a>
                    </td>
                {% endfor %}
            </tr>
        </table>
    {% endif %}

    <br/>
    <div class="center"> 
        <a href={{ general_details.return_to_company_url }}> <i class="fas fa-angle-left"> Return to Company Profile</i></a>
        <a href={{ general_details.return_to_address_book }} class="link-right"> <i class="fas fa-angle-double-left"> Return to Address Book</i></a>
    </div>

{% endblock %}