{% extends "layout.html" %}

{% block title %}
    Interviews For Application
{% endblock %}

{% block main %}
    <div class="alignfull">
        <div class="aligncenter"> 
            <h1 class="h1-heading"> Interviews </h1>
        
            {% if get_flashed_messages() %}
                {% for message in get_flashed_messages() %}
                    <div class="flash alert alert-success border text-center">{{ message }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="alignfull background-colour">
        <div class="aligncenter"> 
            <div class="three-col-grid extra-margins">
                {% for interview_id, interview in general_details.interview_details.fields.items() %}
                    <a href={{ interview.view_interview }} class="link-cards-alt-colour">
                        <i class="fas fa-hand-pointer"></i><h3 class="card-headings"> {{ interview.date }} @ {{ interview.time }}</h3>
                        <div class="card-content"> 
                            <div class="form-row extra-margins">
                                <div class="col text-center"> 
                                    {{ interview.interview_type }}
                                </div>
                            </div>
                            <div class="form-row extra-margins">
                                <div class="col text-center"> 
                                    {{ interview.status }}
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="alignfull xxx-margins">
        <div class="aligncenter"> 
            <h2 class="heading"> Background Information </h2> 
            <div class="grid_experiement extra-margins">
                <a href={{ general_details.links.view_application }} class="link-cards">
                    <i class="fas fa-hand-pointer"></i><h3 class="card-headings"> Application</h3>
                    <div class="form-row extra-margins">
                        <div class="col left-padding"> 
                            <strong> Job Role:</strong>
                        </div>
                        <div class="col right-padding"> 
                            {{ general_details.application_details.fields.job_role }}
                        </div>
                    </div>
                    <div class="form-row extra-margins">
                        <div class="col left-padding"> 
                            <strong> Employment Type:</strong>
                        </div>
                        <div class="col right-padding"> 
                            {{ general_details.application_details.fields.employment_type }}
                        </div>
                    </div>
                    <div class="form-row extra-margins">
                        <div class="col left-padding"> 
                            <strong> Interview Stage</strong>
                        </div>
                        <div class="col right-padding"> 
                            {{ general_details.application_details.fields.interview_stage }}
                        </div>
                    </div>
                </a>
                <a href={{ general_details.links.view_company_profile }} class="link-cards">
                    <i class="fas fa-hand-pointer"></i><h3 class="text-center"> Company</h3>
                    <div class="form-row extra-margins">
                        <div class="col left-padding"> 
                            <strong> Name:</strong>
                        </div>
                        <div class="col right-padding"> 
                            {{ general_details.company_details.fields.name }}
                        </div>
                    </div>
                    {% if general_details.company_details.fields.description %}
                        <div class="form-row extra-margins">
                            <div class="col left-padding"> 
                                <strong> Description:</strong>
                            </div>
                            <div class="col right-padding"> 
                                {{ general_details.company_details.fields.description }}
                            </div>
                        </div>
                    {% endif %}
                    {% if general_details.company_details.fields.location %}
                        <div class="form-row extra-margins">
                            <div class="col left-padding"> 
                                <strong> Location:</strong>
                            </div>
                            <div class="col right-padding"> 
                                {{ general_details.company_details.fields.location }}
                            </div>
                        </div>
                    {% endif %}
                </a>
            </div>
        </div>
    </div>
    
{% endblock %}

