{% extends "layout.html" %}

{% block title %}
    Address Book
{% endblock %}

{% block main %}
    <h1> Address Book:</h1>
    <hr/>

    {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
            <div class="flash alert alert-success border text-center">{{ message }}</div>
        {% endfor %}
    {% endif %}

    {% if general_details.empty_table %}
        <p>  {{ general_details.message }}</a></p>
    {% else %}
        <div> 
            {% for fields in company_details.values() %}
                <li>{{ fields.company_name }}</li>
            {% endfor %}
        </div>
    {% endif %}



{% endblock %}