{% extends "layout.html" %}

{% block title %}
    View Application
{% endblock %}

{% block main %}
    <div class="alignfull">
        <div class="aligncenter"> 
            <h1 class="text-center"> Job Offer </h1>

            {% if get_flashed_messages() %}
                {% for message in get_flashed_messages() %}
                    <div class="flash alert alert-success border text-center">{{ message }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="alignfull">
        <div class="aligncenter"> 
            <div class="grid_experiement full-grid-length">
                <div class="grid_child"> 
                    <h2 class="text-center"> Details </h2>
                    <br/>
                    <div class="form-row">
                        <div class="col left-padding"> 
                            <i class="fas fa-calendar-alt"></i><strong> Starting Date</strong>
                        </div>
                        <div class="col right-padding"> 
                            {{ job_offer_details.starting_date }}
                        </div>
                    </div>
                    <div class="form-row"> 
                        <div class="col left-padding"> 
                            <i class="fas fa-pencil-ruler"></i><strong> Job Role:</strong>
                        </div>
                        <div class="col right-padding"> 
                            {{ job_offer_details.job_role }}
                        </div>
                    </div>
                    {% if job_offer_details.salary %}
                        <div class="form-row"> 
                            <div class="col left-padding"> 
                                <i class="fas fa-hand-holding-usd"></i> <strong> Salary on Offer:</strong>
                            </div>
                            <div class="col right-padding"> 
                                {{ job_offer_details.salary }}
                            </div>
                        </div>
                    {% endif %}
                    {% if job_offer_details.perks_offered %}
                        <div class="form-row"> 
                            <div class="col left-padding"> 
                                <i class="fas fa-bars"></i><strong> Perks / Extras:</strong>
                            </div>
                            <div class="col right-padding"> 
                                {{ job_offer_details.perks_offered }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="form-row"> 
                        <div class="col left-padding"> 
                            <strong> offer_response </strong>
                        </div>
                        <div class="col right-padding"> 
                            {{ job_offer_details.offer_response }}
                        </div>
                    </div>
                    <div class="text-center link-button-margins"> 
                        <a href={{ job_offer_details.update_offer_url }} class="link_button"> <i class="fas fa-pencil-alt"> Update</i></a>
                        <a href={{ job_offer_details.delete_offer_url }} class="link_button"> <i class="fas fa-trash"> Delete</i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="alignfull background-colour">
            <div class="aligncenter">  
                <div class="grid_experiement extra-margins">
                    <a href={{ company_details.profile_url }} class="link-cards">
                        <h3 class="text-center"> Company Details</h3>
                        <div class="form-row">
                            <div class="col left-padding"> 
                                <strong> Name:</strong>
                            </div>
                            <div class="col right-padding"> 
                                {{ company_details.name }}
                            </div>
                        </div>
                        <br/>
                        <div class="form-row"> 
                            <div class="col left-padding"> 
                                <strong> Description:</strong>
                            </div>
                            <div class="col right-padding"> 
                                {{ company_details.description }}
                            </div>
                        </div>
                        <br/>
                        <div class="form-row"> 
                            <div class="col left-padding"> 
                                <strong> Industry:</strong>
                            </div>
                            <div class="col right-padding"> 
                                {{ company_details.industry }}
                            </div>
                        </div>
                    </a>
                    <a href={{ application_details.fields.view_application }} class="link-cards">
                        <h3 class="text-center"> Application Details</h3>
                        <div class="form-row">
                            <div class="col left-padding"> 
                                <strong> Job Description:</strong>
                            </div>
                            <div class="col right-padding"> 
                                {{ application_details.fields.job_description }}
                            </div>
                        </div>
                        <br/>
                        <div class="form-row"> 
                            <div class="col left-padding"> 
                                <strong> Employment Type:</strong>
                            </div>
                            <div class="col right-padding"> 
                                {{ application_details.fields.emp_type }}
                            </div>
                        </div>
                        <br/>
                        <div class="form-row"> 
                            <div class="col left-padding"> 
                                <strong> Interview Stage:</strong>
                            </div>
                            <div class="col right-padding"> 
                                {{ application_details.fields.interview_stage }}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        
{% endblock %}