{% extends "layout.html" %}

{% block title %}
    View Application Note
{% endblock %}

{% block main %}

    <h1>  {{ note_details.company_name }} </h1>
    <hr/>

    {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
            <div class="flash alert alert-success border text-center">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <h2> Application Note Details: </h2>
    <div> 
        <a href={{ note_details.update_url }}> <i class="fas fa-pencil-alt"> Update</i> </a>
        <a href={{ note_details.delete_note_url }}> <i class="fas fa-trash"> Delete</i> </a>
    </div>
    <br/>
    <table>
        <tr>
            <th class="border-bottom border-right border-left border-top" colspan="2"> {{ note_details.Subject }}</th>
        </tr>
        <tr class="border-bottom border-right border-left border-top"> 
            <th>Date: </th> 
            <td> {{ note_details.Date }}</td>
        </tr class="border-bottom border-right border-left border-top">

        <tr class="border-bottom border-right border-left border-top">
            <th>Note: </th> 
            <td> {{ note_details.Note }}</td>
        </tr>
    </table>

{% endblock %}