{% extends "layout.html" %}

{% block title %}
    View All User Notes
{% endblock %}

{% block main %}
    <h1>  View All User Notes </h1>
    <hr/>
    {% if general_details.empty_table %}
        <p> {{ general_details.message }}</a></p>
    {% else %}
        <table> 
            <tr class="border-bottom border-right border-left border-top"> 
                <th class="border-bottom border-right border-left border-top"> ID# </th>
                <th class="border-bottom border-right border-left border-top"> Date </th>
                <th class="border-bottom border-right border-left border-top"> Company Name </th>
                <th class="border-bottom border-right border-left border-top"> Subject</th>
                <th class="border-bottom border-right border-left border-top"> Notes</th>
                <th class="border-bottom border-right border-left border-top"> View</th>
            </tr>

            {% for entry_id, fields in note_details.items() %}
                <tr class="border-bottom border-right border-left border-top"> 
                    <td class="border-bottom border-right border-left border-top"> {{ entry_id }}</td>
                    <td class="border-bottom border-right border-left border-top"> {{ fields.entry_date }}</td>
                    <td class="border-bottom border-right border-left border-top"> {{ fields.company_name }}</td>
                    <td class="border-bottom border-right border-left border-top"> {{ fields.description }}</td>
                    <td class="border-bottom border-right border-left border-top"> {{ fields.note_text }}</td>
                    <td class="border-bottom border-right border-left border-top"> 
                        <a href="/applications/{{ fields.application_id }}/user_notes/{{ fields.note_id }}"> View more</a> 
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}