{% extends "layout.html" %}

{% block title %}
    View Application
{% endblock %}

{% block main %}
    <h1 class="text-center"> Application For {{ company_details.fields.company_name}} </h1>

    {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
            <div class="flash alert alert-success border text-center">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <div class="alignfull background-colour">
        <div class="aligncenter"> 
            <div class="grid_experiement full-grid-length">
                <div class="grid_child"> 
                    <h2 class="text-center"> Details </h2>
                    <br/>
                    <div class="form-row">
                        <div class="col left-padding"> 
                            <i class="fas fa-calendar-alt"></i><strong> Date Of Application:</strong>
                        </div>
                        <div class="col right-padding"> 
                            {{ details.fields.date }} @ {{ details.fields.time }}
                        </div>
                    </div>
                    {% if details.fields.job_ref %}    
                        <div class="form-row"> 
                            <div class="col left-padding"> 
                                <i class="fas fa-hashtag"></i><strong> Job Reference:</strong>
                            </div>
                            <div class="col right-padding"> 
                                {{ details.fields.job_ref }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="form-row"> 
                        <div class="col left-padding"> 
                            <i class="fas fa-user-secret"></i> <strong> Job Role:</strong>
                        </div>
                        <div class="col right-padding"> 
                            {{ details.fields.job_role }}
                        </div>
                    </div>
                    {% if details.fields.salary %}
                        <div class="form-row"> 
                            <div class="col left-padding"> 
                                <i class="fas fa-hand-holding-usd"></i> <strong> Salary:</strong>
                            </div>
                            <div class="col right-padding"> 
                                {{ details.fields.salary }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="form-row"> 
                        <div class="col left-padding"> 
                            <strong> Employment Type:</strong>
                        </div>
                        <div class="col right-padding"> 
                            {{ details.fields.type }}
                        </div>
                    </div>
                    {% if details.fields.description %}
                        <div class="form-row"> 
                            <div class="col left-padding"> 
                                <i class="fas fa-bars"></i><strong> Job Description:</strong>
                            </div>
                            <div class="col right-padding"> 
                                {{ details.fields.description }}
                            </div>
                        </div>
                    {% endif %}
                    {% if details.fields.technology_stack %}
                        <div class="form-row"> 
                            <div class="col left-padding"> 
                                <i class="fas fa-bars"></i><strong> Tech Stack:</strong>
                            </div>
                            <div class="col right-padding"> 
                                {{ details.fields.technology_stack }}
                            </div>
                        </div>
                    {% endif %}
                    {% if details.fields.perks %}
                        <div class="form-row"> 
                            <div class="col left-padding"> 
                                <i class="fas fa-bars"></i><strong> Perks / Extras:</strong>
                            </div>
                            <div class="col right-padding"> 
                                {{ details.fields.perks }}
                            </div>
                        </div>
                    {% endif %}
                    {% if details.fields.platform %}
                        <div class="form-row"> 
                            <div class="col left-padding"> 
                                <i class="fas fa-newspaper"></i><strong> Job Board / Platform</strong>
                            </div>
                            <div class="col right-padding"> 
                                {{ details.fields.platform }}
                            </div>
                        </div>
                    {% endif %}
                    {% if details.fields.contact_Received %}
                        <div class="form-row"> 
                            <div class="col left-padding"> 
                                <i class="fas fa-mobile-alt"></i><strong> Contact Received?</strong>
                            </div>
                            <div class="col right-padding"> 
                                {{ details.fields.contact_Received }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="form-row"> 
                        <div class="col left-padding"> 
                            <i class="fas fa-mobile-alt"></i><strong> Interview Stage: </strong>
                        </div>
                        <div class="col right-padding"> 
                            Interview #{{ details.fields.interview_stage }}
                        </div>
                    </div>
                    {% if details.fields.job_url != "http://..." %}
                        <div class="form-row"> 
                            <div class="col left-padding"> 
                                </i><strong> URL for Job Posting:</strong>
                            </div>
                            <div class="col right-padding"> 
                                {{ details.fields.job_url }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="text-center link-button-margins"> 
            <a href={{ details.update_application_url }} class="link_button"> <i class="fas fa-pencil-alt"> Update</i></a>
            <a href={{ details.delete_application_url }} class="link_button"> <i class="fas fa-trash"> Delete</i></a>
            <a href={{ company_details.fields.view_profile }} class="link_button"> <i class="fas fa-eye"> View Company Profile</i></a>
        </div>
    </div>
    <div class="alignfull">
        <div class="aligncenter"> 
            <h3 class="text-center"> Job Offers</h3>
            {% if job_offer_details != None %}
                {% if job_offer_details.count == 1 %}
                    <div class="single_col_grid">
                        {% for job_offer_id, rows in job_offer_details.details.items() %}
                            <div class="grid_child"> 
                                <div class="form-row">
                                    <div class="col left-padding"> 
                                        <i class="fas fa-user-secret"></i><strong> Job Role</strong>
                                    </div>
                                    <div class="col right-padding"> 
                                        {{ rows.job_role }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col left-padding"> 
                                        <strong> Offer Status</strong>
                                    </div>
                                    <div class="col right-padding"> 
                                        {{ rows.offer_response }}
                                    </div>
                                </div>
                                {% if rows.offer_accepted %}
                                    <div class="form-row">
                                        <div class="col left-padding"> 
                                            <i class="fas fa-calendar-alt"></i><strong> Starting Date:</strong>
                                        </div>
                                        <div class="col right-padding"> 
                                            {{ rows.starting_date }}
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="form-row">
                                    <div class="col left-padding"> 
                                        <i class="fas fa-hand-holding-usd"></i><strong> Salary Offered</strong>
                                    </div>
                                    <div class="col right-padding"> 
                                        {{ rows.salary_offered }}
                                    </div>
                                </div>
                                {% if rows.perks_offered %}
                                    <div class="form-row">
                                        <div class="col left-padding"> 
                                            <i class="fas fa-hand-holding-usd"></i><strong> Perks Offered With The Role</strong>
                                        </div>
                                        <div class="col right-padding"> 
                                            {{ rows.perks_offered }}
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="text-center link-button-margins"> 
                                    <a href={{ rows.update_url }} class="link_button"> <i class="fas fa-pencil-alt"> Update</i></a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="grid_experiement">
                        {% for job_offer_id, rows in job_offer_details.details.items() %}
                            <div class="grid_child"> 
                                <div class="form-row">
                                    <div class="col left-padding"> 
                                        <i class="fas fa-user-secret"></i><strong> Job Role</strong>
                                    </div>
                                    <div class="col right-padding"> 
                                        {{ rows.job_role }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col left-padding"> 
                                        <strong> Offer Status</strong>
                                    </div>
                                    <div class="col right-padding"> 
                                        {{ rows.offer_response }}
                                    </div>
                                </div>
                                {% if rows.offer_accepted %}
                                    <div class="form-row">
                                        <div class="col left-padding"> 
                                            <i class="fas fa-calendar-alt"></i><strong> Starting Date:</strong>
                                        </div>
                                        <div class="col right-padding"> 
                                            {{ rows.starting_date }}
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="form-row">
                                    <div class="col left-padding"> 
                                        <i class="fas fa-hand-holding-usd"></i><strong> Salary Offered</strong>
                                    </div>
                                    <div class="col right-padding"> 
                                        {{ rows.salary_offered }}
                                    </div>
                                </div>
                                {% if rows.perks_offered %}
                                    <div class="form-row">
                                        <div class="col left-padding"> 
                                            <strong> Perks Offered With The Role</strong>
                                        </div>
                                        <div class="col right-padding"> 
                                            {{ rows.perks_offered }}
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="text-center link-button-margins"> 
                                    <a href={{ rows.update_url }} class="link_button"> <i class="fas fa-pencil-alt"> Update</i></a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}
                <div class="text-center link-button-margins"> 
                    <a href="/add_job_offer" class="link_button_primary text-center"> Add Job Offer</a>
                </div>

        </div>
    </div>

    <div class="alignfull background-colour">
        <div class="aligncenter"> 
            <h3 class="text-center">Notes</h3> 
            <div class="text-center link-button-margins"> 
                <a href={{ details.add_note_url }} class="link_button_primary text-center"> <i class="fas fa-plus"> Note</i> </a>
                <a href={{ details.view_notes_url }} class="link_button_primary text-center"> <i class="fas fa-eye"> View Notes</i> </a>
            </div>
        </div>
    </div>

    <div class="alignfull">
        <div class="aligncenter"> 
            <h3 class="text-center"> Interviews</h3>
            <br/>
            {% if interview_details.empty_fields == True %}
                <div class="text-center link-button-margins"> 
                    <a href={{ details.add_interview_url }} class="link_button_primary extra-button-styles"> <i class="fas fa-plus"> Upcoming Interview</i> </a>
                </div>
            {% elif interview_fields.interviews_count == 1 %}
                <div class="single_col_grid"> 
                    {% for interview_id, rows in interview_fields.fields.items() %}
                        <div class="grid_child"> 
                            <div class="form-row">
                                <div class="col left-padding"> 
                                    <i class="fas fa-calendar-alt"></i><strong> Date & Time</strong>
                                </div>
                                <div class="col right-padding"> 
                                    {{ rows.date }} @ {{ rows.time }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col left-padding"> 
                                    <strong> Type</strong>
                                </div>
                                <div class="col right-padding"> 
                                    {{ rows.interview_type }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col left-padding"> 
                                    <strong> Interview Status</strong>
                                </div>
                                <div class="col right-padding"> 
                                    {{ rows.status }}
                                </div>
                            </div>
                            {% if rows.location %}
                                <div class="form-row">
                                    <div class="col left-padding"> 
                                        <strong> Location</strong>
                                    </div>
                                    <div class="col right-padding"> 
                                        {{ rows.location }}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="text-center link-button-margins"> 
                                {% if rows.status == "Upcoming Interview" %}
                                    <a href={{ rows.prepare_url }} class="link_button"> <i class="fas fa-pencil-alt"> Prepare</i></a>
                                {% endif %}
                                <a href={{ rows.view_more }} class="link_button"> <i class="fas fa-eye"> View</i></a>
                                <a href={{ rows.delete_url }} class="link_button"> <i class="fas fa-trash"> Delete</i></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="grid_experiement"> 
                    {% for interview_id, rows in interview_fields.fields.items() %}
                        <div class="grid_child"> 
                            <div class="form-row">
                                <div class="col left-padding"> 
                                    <i class="fas fa-calendar-alt"></i><strong> Date & Time</strong>
                                </div>
                                <div class="col right-padding"> 
                                    {{ rows.date }} @ {{ rows.time }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col left-padding"> 
                                    <strong> Type</strong>
                                </div>
                                <div class="col right-padding"> 
                                    {{ rows.interview_type }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col left-padding"> 
                                    <strong> Interview Status</strong>
                                </div>
                                <div class="col right-padding"> 
                                    {{ rows.status }}
                                </div>
                            </div>
                            {% if rows.location %}
                                <div class="form-row">
                                    <div class="col left-padding"> 
                                        <strong> Location</strong>
                                    </div>
                                    <div class="col right-padding"> 
                                        {{ rows.location }}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="text-center link-button-margins"> 
                                {% if rows.status == "Upcoming Interview" %}
                                    <a href={{ rows.prepare_url }} class="link_button"> <i class="fas fa-pencil-alt"> Prepare</i></a>
                                {% endif %}
                                <a href={{ rows.view_more }} class="link_button"> <i class="fas fa-eye"> View</i></a>
                                <a href={{ rows.delete_url }} class="link_button"> <i class="fas fa-trash"> Delete</i></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <br/>
            <div class="text-center give-me-space"> 
                <a href={{ interview_fields.add_interview_url }} class="link_right link_button_primary"><i class="fas fa-plus"> Add Upcoming Interview</i> </a>
            </div>
        </div>
    </div>



    


        
{% endblock %}