{% extends "layout.html" %}

{% block title %}
    View Company Note
{% endblock %}

{% block main %}

    <div class="alignfull">
        <div class="aligncenter"> 
            <h1 class="text-center"> {{ details.company_name }}</h1>

            {% if get_flashed_messages() %}
                {% for message in get_flashed_messages() %}
                    <div class="flash alert alert-success border text-center">{{ message }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="alignfull background-colour">
        <div class="aligncenter"> 
            <div class="grid_experiement full-grid-length">
                <div class="grid_child"> 
                    <h2 class="text-center extra-margins"> Note Details </h2>
                    <div class="form-row">
                        <div class="col left-padding"> 
                            <i class="fas fa-calendar-alt"></i><strong> Entry Date:</strong>
                        </div>
                        <div class="col right-padding"> 
                            {{ details.date }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col left-padding"> 
                            <strong> Subject:</strong>
                        </div>
                        <div class="col right-padding"> 
                            {{ details.subject }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col left-padding"> 
                            <strong> Note:</strong>
                        </div>
                        <div class="col right-padding"> 
                            {{ details.note_text }}
                        </div>
                    </div>
                    <div class="text-center link-button-margins"> 
                        <a href={{ details.update_url }} class="link_button"> <i class="fas fa-pencil-alt"> Update</i></a>
                        <a href={{ details.delete_note_url }} class="link_button"> <i class="fas fa-trash"> Delete</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="alignfull">
        <div class="aligncenter"> 
            <div class="text-center link-button-margins"> 
                <a href={{ details.company_notes_url }} class="link_button_primary text-center"> <i class="fas fa-angle-left"> Go Back to Company Notes</i></a>
                <a href={{ details.company_profile_url }} class="link_button_primary text-center"> <i class="fas fa-eye"> View Company Profile</i></a>
            </div>
        </div>
    </div>

{% endblock %}