{% extends "layout.html" %}

{% block title %}
    View All User Notes
{% endblock %}

{% block main %}
    <div class="alignfull">
        <div class="aligncenter"> 
            <h1 class="text-center"> All Notes </h1>

            {% if get_flashed_messages() %}
                {% for message in get_flashed_messages() %}
                    <div class="flash alert alert-success border text-center">{{ message }}</div>
                {% endfor %}
            {% endif %}
        
        </div>
    </div>

    <div class="alignfull background-colour">
        <div class="aligncenter"> 
            <h2 class="text-center xxx-margins"> Application Notes</h2>
            {% if app_notes_details.empty_table != True %}
                <div class="three-col-grid extra-margins">
                    {% for entry_id, fields in app_notes_details.fields.items() %}
                        <a href={{ fields.view_note_url }} class="link-cards-alt-colour">
                            <i class="fas fa-hand-pointer"></i><h3 class="card-headings"><i class="fas fa-heading"> {{ fields.description }}</i></h3>
                            <div class="card-content"> 
                                <div class="form-row">
                                    <div class="col"> 
                                        <i class="fas fa-calendar-alt"> {{ fields.entry_date }}</i>
                                    </div>
                                </div>
                                <br/>
                                <div class="form-row">
                                    <div class="col"> 
                                        <i class="fas fa-users"> {{ fields.company_name }}</i>
                                    </div>
                                </div>
                                <br/>
                                <div class="form-row">
                                    <div class="col"> 
                                        <i class="fas fa-pencil-ruler"> {{ fields.job_role }}</i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    {% if company_notes_details.empty_table != True %}
        <div class="alignfull">
            <div class="aligncenter"> 
                <h2 class="text-center xxx-margins"> Company Notes</h2>
                <div class="three-col-grid xxx-margins">
                    {% for entry_id, fields in company_notes_details.fields.items() %}
                        <a href={{ fields.view_company_note_url }} class="link-cards">
                            <i class="fas fa-hand-pointer"></i><h3 class="card-headings"><i class="fas fa-heading"> {{ fields.subject }}</i></h3>
                            <div class="card-content"> 
                                <div class="form-row">
                                    <div class="col"> 
                                        <i class="fas fa-calendar-alt"> {{ fields.entry_date }} </i>
                                    </div>
                                </div>
                                <br/>
                                <div class="form-row">
                                    <div class="col"> 
                                        <i class="fas fa-users"> {{ fields.company_name }}</i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}


    <div class="alignfull background-colour">
        <div class="aligncenter"> 
            <div class="text-center xxx-margins" role="group"> 
                <a href='/address_book' class="link_button_primary text-center"><i class="fas fa-eye"> View Company Address Book</i></a>
                <a href="/applications" class="link_button_primary text-center"><i class="fas fa-eye"> View all Applications</i></a>
            </div>
        </div>
    </div>

{% endblock %}