{% extends "layout.html" %}

{% block title %}
    View Application Note
{% endblock %}

{% block main %}

    <div class="alignfull">
        <div class="aligncenter"> 
            <h1 class="text-center"> {{ note_details.company_name }}</h1>
            
            {% if get_flashed_messages() %}
                {% for message in get_flashed_messages() %}
                    <div class="flash alert alert-success border text-center">{{ message }}</div>
                {% endfor %}
            {% endif %}

        </div>
    </div>

    <div class="alignfull background-colour">
        <div class="aligncenter"> 
            <div class="grid_experiement full-grid-length">
                <div class="grid_child"> 
                    <h2 class="text-center extra-margins"> Note Details </h2>
                    <div class="form-row">
                        <div class="col left-padding"> 
                            <i class="fas fa-calendar-alt"></i><strong> Date Posted:</strong>
                        </div>
                        <div class="col right-padding"> 
                            {{ note_details.Date }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col left-padding"> 
                            <strong> Subject:</strong>
                        </div>
                        <div class="col right-padding"> 
                            {{ note_details.Subject }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col left-padding"> 
                            <strong> Note:</strong>
                        </div>
                        <div class="col right-padding"> 
                            {{ note_details.Note }}
                        </div>
                    </div>
                    <div class="text-center link-button-margins"> 
                        <a href={{ note_details.update_url }} class="link_button"> <i class="fas fa-pencil-alt"> Update</i></a>
                        <a href={{ note_details.delete_note_url }} class="link_button"> <i class="fas fa-trash"> Delete</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="alignfull">
        <div class="aligncenter"> 
            <div class="text-center link-button-margins"> 
                <a href={{ general_details.view_application }} class="link_button_primary text-center"> <i class="fas fa-angle-double-left"> Go Back to Application Notes</i></a>
                <a href={{ general_details.all_app_notes }} class="link_button_primary text-center"> <i class="fas fa-angle-left"> Go Back to Application Notes</i></a>
                <a href={{ general_details.company_profile }} class="link_button_primary text-center"> <i class="fas fa-eye"> View Company Profile</i></a>
            </div>
        </div>
    </div>

{% endblock %}