{% extends "layout.html" %}

{% block title %}
    Company Profile
{% endblock %}

{% block main %}
    <div class="alignfull"> 
        <div class="aligncenter"> 

            {% if get_flashed_messages() %}
                {% for message in get_flashed_messages() %}
                    <div class="flash alert alert-success border text-center">{{ message }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="alignfull">
        <div class="aligncenter"> 
            <div class="full-grid-length">
                <div class="grid_child">
                    <h1 class="card-headings-with-bottom-border"><i class="fas fa-users"></i> Company Profile</h1>
                    <h2 class="card-heads-bottom-margin"> {{ general_details.company_name }} </h2>
                    {% for fields in company_details.values() %}
                        {% if fields.data %}
                            <div class="form-row">
                                <label class="col left-padding">{{ fields.label }}</label>
                                <div class="col right-padding"> 
                                    {{ fields.data }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="text-center link-button-margins"> 
                        <a href={{ general_details.update_url}} class="link_button"> <i class="fas fa-pencil-alt"> Update</i></a>
                        <a href={{ general_details.delete_url}} class="link_button"> <i class="fas fa-trash"> Delete</i></a>
                        {% if general_details.company_website %}
                            <a href={{ general_details.company_website }} class="link_button"><i class="fas fa-eye"> View Company Website</i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="alignfull background-colour"> 
        <div class="aligncenter"> 
            <div class="text-center link-button-margins">
                <a href={{ general_details.add_job_application_url}} class="link_button_primary text-center"> <i class="fas fa-plus"> Add Job Application For {{ general_details.company_name }}</i></a>
            </div>
        </div>
    </div>

    <div class="alignfull xxx-margins"> 
        <div class="aligncenter"> 
            <h3 class="text-center"><i class="fas fa-sticky-note"></i> Notes / Research:</h3> 
            <div class="text-center link-button-margins">
                <a href={{ general_details.add_note_url}} class="link_button_primary text-center"> <i class="fas fa-plus"> Add Note For {{ general_details.company_name }}</i></a>
                <a href={{ general_details.view_notes_url}} class="link_button_primary text-center"> <i class="fas fa-plus"> View All Notes For {{ general_details.company_name }}</i></a>
            </div>
        </div>
    </div>

    
{% endblock %}