{% extends "layout.html" %}

{% block title %}
    View Company Note
{% endblock %}

{% block main %}

    <h1 class="text-center">  {{ details.company_name }} </h1>
    <hr/>

    {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
            <div class="flash alert alert-success border text-center">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <h2 class="text-center"> Note Details: </h2>
    <br/>
    <table class="center"> 
        <tr> 
            <td>  
                <a href={{ details.update_url }}> <i class="fas fa-pencil-alt"> Update Note </i></a>
                <a href={{ details.delete_note_url }}> <i class="fas fa-trash"> Delete Note </i></a>
            </td>
        </tr>
        
        <tr> 
            <th> Entry Date:  </th>
            <td> {{ details.date }}</td>
        </tr>
        <tr> 
            <th> Subject: </th>
            <td> {{ details.subject }}</td>
        </tr>
        <tr> 
            <th> Note: </th>
            <td> {{ details.note_text }}</td>
        </tr>


    </table>

    <br/>
    <div> 
        <a href={{ details.company_notes_url }}> <i class="fas fa-angle-left"> Return to Company Notes</i></a>
        <a href={{ details.company_profile_url}} class="link-right"> <i class="fas fa-angle-double-left"> Return to Company Profile</i></a>
    </div>


{% endblock %}