{% extends "layout.html" %}

{% block title %}
    View Interview
{% endblock %}

{% block main %}
<h1> {{ details.company_name}} </h1>
<hr/>

<h2> View Interview Details</h2> 
<div> 
    <a href="/applications/{{details.app_id}}/interview/{{details.interview_id}}/update_interview"> Update</a>
    <a href=".../applications/{{ details.app_id }}/interview/{{details.interview_id}}/delete_interview"> Delete</a>
    
</div>
<table> 
    {% for heading, value in details.fields.items() %}
        <tr> 
            <th> {{ heading }} </th>
            <td> {{ value }}</td>
        </tr>

    {% endfor %}
</table>

<br/>
    <p> <a href="/applications/{{ details.app_id }}/interview/{{ details.interview_id }}/interview_preparation">Prepare </a> for this interview.</p>

{% endblock %}