{% extends "layout.html" %}

{% block title %}
    View User Notes For Application
{% endblock %}

{% block main %}
<h1>  Your Notes for {{ general_details.company_name }}: </h1>
<hr/>
{% if general_details.empty_table %}
<p> {{ general_details.message }}</a></p>
{% else %}
    <table>
        <tr class="border-bottom border-right border-left border-top">
            <th class="border-bottom border-right border-left border-top"> #</th>
            <th class="border-bottom border-right border-left border-top"> Date</th>
            <th class="border-bottom border-right border-left border-top"> Subject</th>
            <th class="border-bottom border-right border-left border-top"> Notes</th>
            <th class="border-bottom border-right border-left border-top"> View More</th>
        </tr>
        {% for entry_id, note_fields in user_notes_details.items() %}
            <tr class="border-bottom border-right border-left border-top">
                <td class="border-bottom border-right border-left border-top"> {{ entry_id }}</td>
                <td class="border-bottom border-right border-left border-top"> {{ note_fields.entry_date }}</td>
                <td class="border-bottom border-right border-left border-top"> {{ note_fields.subject }}</td>
                <td class="border-bottom border-right border-left border-top"> {{ note_fields.note_text }}</td>
                <td class="border-bottom border-right border-left border-top">
                    Link: <a href="/applications/{{ general_details.application_id }}/user_notes/{{ note_fields.note_id }}"> View</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

{% endblock %}