{% extends "layout.html" %}

{% block title %}
    View Application
{% endblock %}

{% block main %}
<h1> Applications Details </h1>
<hr/>
<table>
    {% for heading, field in details.items() %}
        <tr> 
            <th> {{ heading }} </th>
            <td> {{ field }} </td>
        </tr>
    {% endfor %}
</table>
<br/> 
<h2> Interviews for this application:</h2>
    {% if interview_details.fields == None %}
        <p> {{ interview_details.message }} Add an Interview.</p>
    {% endif %}


<table> 

</table>

{% endblock %}