{% extends "layout.html" %}

{% block title %}
    View Company Notes
{% endblock %}

{% block main %}
    <div class="alignfull">
        <div class="aligncenter"> 
            <h1 class="text-center"> {{ general_details.company_name }}</h1>

            {% if get_flashed_messages() %}
                {% for message in get_flashed_messages() %}
                    <div class="flash alert alert-success border text-center">{{ message }}</div>
                {% endfor %}
            {% endif %}

        </div>
    </div>

    <div class="alignfull background-colour">
        <div class="aligncenter"> 
            <h2 class="text-center xxx-margins"> Notes History</h2>
            {% if not general_details.empty_table %}
                <div class="three-col-grid extra-margins">
                    {% for entry_id, note_fields in note_details.items() %}
                        <a href={{ note_fields.View_More }} class="link-cards-alt-colour"> 
                            <i class="fas fa-hand-pointer"></i><h3 class="text-center"><i class="fas fa-heading"> {{ note_fields.subject }}</i></h3>
                            <br/>
                            <div class="form-row">
                                <div class="col text-center"> 
                                    <i class="fas fa-calendar-alt"> {{ note_fields.entry_date }}</i>
                                </div>
                            </div>
                            <br/>
                            <div class="form-row">
                                <div class="col text-center"> 
                                    <i class="fas fa-sticky-note"> {{ note_fields.note_text }}</i>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="text-center link-button-margins"> 
                <a href={{ general_details.add_note_url }} class="link_button_primary"> <i class="fas fa-plus"> Add note For {{ general_details.company_name }}</i></a>
            </div>
        </div>
    </div>

    <div class="alignfull">
        <div class="aligncenter"> 
            <div class="text-center xxx-margins"> 
                <a href={{ general_details.return_to_company_url }} class="link_button_primary link-button-margins"> <i class="fas fa-angle-left"> Return to Company Profile</i></a>
                <a href={{ general_details.return_to_address_book }} class="link_button_primary link-button-margins"> <i class="fas fa-angle-double-left"> Return to Address Book</i></a>
            </div>
        </div>
    </div>

{% endblock %}