{% extends "layout.html" %}

{% block title %}
    View Application
{% endblock %}

{% block main %}
    <div class="alignfull">
        <div class="aligncenter"> 
            <h1 class="h1-heading"> Job Offer Details </h1>

            {% if get_flashed_messages() %}
                {% for message in get_flashed_messages() %}
                    <div class="flash alert alert-success border text-center">{{ message }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="alignfull">
        <div class="aligncenter"> 
            <div class="full-grid-length">
                <div class="grid_child"> 
                    <h2 class="card-heads-bottom-margin"><i class="fas fa-users"></i> {{ general_details.company_details.name }} </h2>
                    <div class="form-row">
                        <label class="col left-padding"><i class="fas fa-calendar-alt"></i> Starting Date:</label>
                        <div class="col right-padding"> 
                            {{ general_details.job_offer_details.starting_date }}
                        </div>
                    </div>
                    <div class="form-row"> 
                        <label class="col left-padding"><i class="fas fa-pencil-ruler"></i> Job Role:</label>
                        <div class="col right-padding"> 
                            {{ general_details.job_offer_details.job_role }}
                        </div>
                    </div>
                    {% if general_details.job_offer_details.salary %}
                        <div class="form-row">
                            <label class="col left-padding"><i class="fas fa-hand-holding-usd"></i> Salary on Offer:</label> 
                            <div class="col right-padding"> 
                                {{ general_details.job_offer_details.salary }}
                            </div>
                        </div>
                    {% endif %}
                    {% if general_details.job_offer_details.perks_offered %}
                        <div class="form-row"> 
                            <label class="col left-padding"><i class="fas fa-bars"></i> Perks / Extras:</label> 
                            <div class="col right-padding"> 
                                {{ general_details.job_offer_details.perks_offered }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="form-row"> 
                        <label class="col left-padding"> Offer Response:</label> 
                        <div class="col right-padding"> 
                            {{ general_details.job_offer_details.offer_response }}
                        </div>
                    </div>
                </div>
                <div class="text-center link-button-margins"> 
                    <a href={{ general_details.links.update_offer }} class="link_button"> <i class="fas fa-pencil-alt"> Update</i></a>
                    <a href={{ general_details.links.delete_offer }} class="link_button"> <i class="fas fa-trash"> Delete</i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="alignfull background-colour xxx-margins">
        <div class="aligncenter">  
            <div class="grid_experiement extra-margins">
                <a href={{ general_details.links.company_profile }} class="link-cards-alt-colour">
                    <h3 class="text-center"> Company Details</h3>
                    <div class="form-row extra-margins">
                        <div class="col left-padding"> 
                            <strong> Name:</strong>
                        </div>
                        <div class="col right-padding"> 
                            {{ general_details.company_details.fields.name }}
                        </div>
                    </div>
                    <br/>
                    <div class="form-row extra-margins"> 
                        <div class="col left-padding"> 
                            <strong> Description:</strong>
                        </div>
                        <div class="col right-padding"> 
                            {{ general_details.company_details.fields.description }}
                        </div>
                    </div>
                    <br/>
                    <div class="form-row extra-margins"> 
                        <div class="col left-padding"> 
                            <strong> Industry:</strong>
                        </div>
                        <div class="col right-padding"> 
                            {{ general_details.company_details.fields.industry }}
                        </div>
                    </div>
                </a>
                <a href={{ general_details.links.view_application }} class="link-cards-alt-colour">
                    <h3 class="text-center"> Application Details</h3>
                    <div class="form-row extra-margins">
                        <div class="col left-padding"> 
                            <strong> Job Description:</strong>
                        </div>
                        <div class="col right-padding"> 
                            {{ general_details.application_details.fields.job_description }}
                        </div>
                    </div>
                    <br/>
                    <div class="form-row extra-margins"> 
                        <div class="col left-padding"> 
                            <strong> Employment Type:</strong>
                        </div>
                        <div class="col right-padding"> 
                            {{ general_details.application_details.fields.emp_type }}
                        </div>
                    </div>
                    <br/>
                    <div class="form-row extra-margins"> 
                        <div class="col left-padding"> 
                            <strong> Interview Stage:</strong>
                        </div>
                        <div class="col right-padding"> 
                            {{ general_details.application_details.fields.interview_stage }}
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

        
{% endblock %}