{% extends "layout.html" %}

{% block title %}
    Company Profile
{% endblock %}

{% block main %}
<h1> {{ general_details.company_name }}</h1>
<hr/>

{% if get_flashed_messages() %}
    {% for message in get_flashed_messages() %}
        <div class="flash alert alert-success border text-center">{{ message }}</div>
    {% endfor %}
{% endif %}

<h2> Company Profile:</h2>
<br/>
<table> 
    {% for fields in company_details.values() %}
        {% if fields.label == "Update Profile" %}
            <tr> 
                <p> <a href={{ fields.data }}> <i class="fas fa-pencil-alt"> {{ fields.label }}</i></a></p>
            </tr>
        {% else %}        
            <tr> 
                <th> {{ fields.label }}</th>
                <td> {{ fields.data }}</td>
            </tr>
        {% endif %}  
    {% endfor %}
</table>


{% endblock %}